{% extends "family_info/base.html" %}
{%load smartif%}
<!-- this file is NOT cached! -->
{% block html_element %}{% endblock html_element %}

{% block family_info_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<!-- TODO: remove cache.js; it is unneded by startingerview.js. -->
<script src="/family_info/media/js/cache.js" type="text/javascript"></script>


<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/family_info/media/js/start_interview.js" type="text/javascript"></script>
{% endblock family_info_js %}

{% block family_info_content %}

<h2 id="contenttitle">
	Families to Visit
</h2>

<script  type="text/javascript">

  var visit_id = {{new_visit.id}};

  var user_name  = '{{user.username}}';

  var list_of_questions_json = '[ \
    {% for the_family in families %} \
	      {{the_family.start_interview_info|safe}}{% if not forloop.last %},{%endif%} \
    {% endfor %} \
  ]';
  	
  var list_of_states_json = '{ \
	  {% for the_family in families %} \
      "{{the_family.id}}" : {{the_family.evil_state|safe}} {% if not forloop.last %},{%endif%} \
	   {% endfor %} \
	}';
	
	
  var family_configs_json = '{ \
	  {% for f in families %}  \
          {%if not forloop.first%},{%endif%}"{{f.id}}" : {{f.config.id}} \
    {%  endfor %}  \
	}';
</script>

<div id="list_of_questions"> 
	
</div>

<table cellspacing="0" id="materialstable">
	
	<tr>
		<th>Family ID</th>
		<th>Question List</th> 
	</tr>
	
	{% for the_family in families %}
	<tr >
		<td title ="Family {{the_family.study_id_number}} has ID {{ the_family.id }} in the database." >{{the_family.study_id_number}}</td>
		<td>{{ the_family.config }}</td>
	</tr>
	{%endfor %}

</table>

		
<div align="center" style="margin-top: 50px;">

  <a id="get_materials_link" href ="{%url family_info.views.dashboard %}">Get Materials for Visit and Start</a>
  <a id="end_interview_link" href ="{%url family_info.views.end_interview %}">Cancel and Check Back In</a>
  
</div>

<script>
	if (typeof($) == "undefined") {
		alert ("JQuery library was not found. Please delete your cache and reload the page.");
	}
</script>

{% endblock family_info_content %}



