body > * { background: #dce1eb;}
body { background-color: #dce1eb;}

p { margin: 20px; }

p.lyle
{
	padding-left: 70px;
	background-image: url(images/smilekit_icon2.png);
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 57px;
}

.whiteButton { margin: 20px 10px 20px 10px; }
small.counter { margin-right: 30px !important; }
li.arrow a { padding-left: 50px; }

.floaty /*bottom toolbar*/
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #000;
	color: #fff;
	position: absolute;
	text-align: center;
}

.floaty ul
{
	margin: 0;
	padding: 0;
	border: 0;
}

.floaty ul li
{
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.floaty ul li a
{
	display: block;
	float: left;
	width: 64px;
	margin: 0;
	padding: 18px 0px 18px 0px;
	font-size: 10px;
	color: #fff;
	background-color: #000;
	-webkit-border-radius: 0;
}

.floaty ul li a.active
{
	background-color: #666;
	background-image: none;
}


/* list item icons */
label.icon_label
{
	display: block;
	height: 100px;
}

label.icon_label .icon_label_text {padding-left: 10px;}

label.icon_label input
{
	float: left;
}

.icon_image
{
	width: 100px;
	height: 100px;
	display: inline;
	float: right;
}

.icon_formula
{
	background-image: url(images/icon_formula.png);
	background-repeat: no-repeat;
}

.icon_toothbrush
{
	background-image: url(images/icon_toothbrush.png);
	background-repeat: no-repeat;
}

.icon_toothpaste
{
	background-image: url(images/icon_toothpaste.png);
	background-repeat: no-repeat;
}

.icon_tapwater
{
	background-image: url(images/icon_tapwater.png);
	background-repeat: no-repeat;
}

.icon_bottledwater
{
	background-image: url(images/icon_bottledwater.png);
	background-repeat: no-repeat;
}

/* home */
#icon_library
{
	background-image: url(images/icon_library.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_pref
{
	background-image: url(images/icon_pref.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_aboutsmilekit
{
	background-image: url(images/icon_aboutsmilekit.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_diet
{
	background-image: url(images/icon_module_diet.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_history
{
	background-image: url(images/icon_module_history.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_drinkingwater
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_usingformula
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_brushingteeth
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_rinsing
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_usingtoothpaste
{
	background-image: url(images/icon_module_fluoride.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_drinkingwater_types
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_usingformula_types
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_brushingteeth_01
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_brushingteeth_02
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_brushingteeth_03
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_brushingteeth_04
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_rinsing_01
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

#icon_module_fluoride_usingtoothpaste_01
{
	background-image: url(images/icon_module_question.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

/* stop - list item icons */
