{% extends "equation_balancer/base.html" %}

{% block js %}
	{{ block.super }}
	<script type="text/javascript" src="/site_media/js/ajaxupload.js"></script>
	<script type="text/javascript" src="/site_media/js/equation_balancer.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link type="text/css" rel="stylesheet" media="screen" href="/weights/collection_tool/media/css/equation_balancer.css" />
{% endblock %}

{% block content %}

	<h1 id="logo">MySmileBuddy Equation Balancer</h1>

	<p id="username">You are logged in as {{user.username}}.</p>

	<h2>Model: {{ config.name }}</h2>
	
	<form action="save" method="POST" id="model-form">
	
	<div id="actionbuttons">
	
		<div id="leftbuttons">
						
			<input type="button" value="&#171; Back" id="back-button">
						
			<input type="submit" value="Save &#34;{{ config.name }}&#34;" id='model-submit' />
					
			<input type="hidden" name="config" value="{{config.id}}" />
			
			<span id="status"></span>
					
		</div>
					
		<div id="rightbuttons">
		
			<input type="button" id="upload_button" value="Load Data File" />
			
			<input type="button" id="toggle_button" value="Toggle View">
			
		</div>
		
	</div>
	
		<div id="tableview" class="view-multiple">
			

				<table cellspacing="0" id="weights">
					<tr>
						<th class="label" colspan="4">Model: {{ config.name }}</td>
						<th class="label single"></th>
					   <th class="label single">Score: Patient <span id="patient-number">(none)</span></td>
					</tr>
					{% regroup questions by module as question_list %}
					{% for question in question_list %}
					
					
					<tr>
						<th><img src="equation_balancer/media/images/collapse.png" /></td>
						<th colspan="2">{{ question.grouper.name }}</td>
						<th><input type="text" size="3" class="moduleweight" name="moduleweight-{{ question.grouper.id }}" id="moduleweight-{{ question.grouper.id }}" value="0" /></th>
					   <th class="single">--</th>
					   <th class="single"><input type="text" disabled size="3" id="modulescore-{{ question.grouper.id }}" value="0" /></th>
					</tr>
					
					{% for item in question.list %}
					<tr>
						<td>&#160;</td>
						<td class="modulenumber">{{ item.number }}</td>
						<td>{{ item.text }}</td>
						<td><input type="text" size="3" class="weight" name="weight-{{item.number}}" id="weight-{{item.number}}" value="0" /></td>
					   <td class="single"><input type="text" disabled size="10" id="answer-{{item.number}}" value="0" /></td>
					   <td class="single"><input type="text" disabled size="3" id="score-{{item.number}}" value="0" /></td>
					</tr>
					
					{% endfor %}
					{% endfor %}
				</table>
				
			
			
			<script type="text/javascript">
				{% for weight in weights %}
				$(window).load(function() {
				setWeight("weight-{{ weight.question.number }}",{{ weight.weight }});
				});
				{% endfor %}
				{% for weight in moduleweights %}
				$(window).load(function() {
				setWeight("moduleweight-{{ weight.module.id }}",{{ weight.weight }});
				});
				{% endfor %}  
			</script>
			
		</div>
		
		<div id="right">
		
		
			<!-- START - MULTIPLE VIEWS -->
			
			<table cellspacing="0" id="records">
		
				<tr>
				<th colspan="2">Multiple Records</th>
				</tr>
				
				<tr>
				  <td class="distribution">File: <span id="filename">no file uploaded</span></td>
 				  <td class="distribution" colspan="2">Total Records: <span id="num-patients">0</span></td>
				</tr>
				
				
				<tr>
				<td style="text-align: center;background-color: #eee;">Patient Number</td>
				<td style="text-align: center;background-color: #eee;">Raw Score</td>
				</tr>
				
	         <tbody id="multipleview-inner">
				
				<tr>
				  <td colspan='2'>Press "Load Data File" to upload data for analysis.</td>
				</tr>
				
            </tbody>	
				
			</table>
	
			<!-- END - MULTIPLE VIEWS -->

		</div>
	
	<br clear="all" />
	<br clear="all" />
	
	</form>

	
{% endblock %}