{% extends "equation_balancer/base.html" %}

{% block title %}MySmileBuddy{% endblock %}
		
{% block css %}

	{{ block.super }}
	
	<link type="text/css" rel="stylesheet" media="screen" href="/weights/collection_tool/media/css/equation_balancer.css" />
	
{% endblock %}
		
{% block content %}

	<h1 id="logo">MySmileBuddy Equation Balancer</h1>
	
	<p id="username">You are logged in as {{user.username}}.</p>
	
	<h2>Welcome</h2>
	
	<p>Instructions: Start here. You can create a new model profile or open an edit an existing one.</p>
	
	<fieldset>
	
		<legend>Create a New Model</legend>
		
		<form action="create" method="post">
			<label>Model Name:</label>
			<input type="text" value="Untitled Model" name="name" />
			<input type="submit" value="Create" />
		</form>
	
	</fieldset>
	
	{% if configs %}
	
	<fieldset>
	
		<legend>Open an Existing Model</legend>
		
		<ol>
			{% for config in configs %}
			<li><a href="configuration/{{config.id}}">{{config.name}}</a></li>
			{% endfor %}
		</ol>
	
	</fieldset>
	
	{% endif %}

{% endblock %}
