{% extends "equation_balancer/base.html" %}

{% block title %}MySmileBuddy{% endblock %}
		
{% block js %}
  {{ block.super }}

	<script type="text/javascript" src="/weights/media/js/index.js"></script>
{% endblock %}

{% block css %}

	{{ block.super }}
	
	<link type="text/css" rel="stylesheet" media="screen" href="/weights/media/css/equation_balancer.css" />
	
{% endblock %}
		
{% block content %}

	<h1 id="logo">MySmileBuddy Equation Balancer</h1>
	
	<p id="username">You are logged in as {{user.username}}.</p>
	
	<h2>Welcome</h2>
	
	<p>Instructions: Start here. You can create a new model profile or open and edit an existing one.  You can also save a profile to CSV or load a CSV back into the system.</p>
	
	<fieldset>
	
		<legend>Create a New Model</legend>
		
		<form action="create" id="form-create" method="post">
			<label>Model Name:</label>
			<input type="text" value="Untitled Model" id="new-model" name="name" />
			<input type="submit" value="Create" />
		</form>
	
	</fieldset>
	
	{% if configs %}
	
	<fieldset>
	
		<legend>Open an Existing Model</legend>
		
		<ul>
			{% for config in configs %}
			<li>
			  <a href="configuration/{{config.id}}" class="config-name" id="config-{{config.id}}">{{config.name}}</a> <small>-- created by {{config.owner}}</small>
			  (<a href="/weights/delete/{{config.id}}" class="delete" id="delete-{{config.id}}">delete</a>)
			  (<a href="/weights/export/{{config.id}}" class="export" id="export-{{config.id}}">save as CSV</a>)
			</li>
			{% endfor %}
		</ul>
	
	</fieldset>
	
	{% endif %}

	<fieldset>
	
		<legend>Import a Model from CSV</legend>
		
		<form id="import-form" action="import" method="post" enctype="multipart/form-data">
			<label>Filename:</label>
			<input type="file" id="csvfile" name="csvfile" size="20" />
			<input type="submit" value="Import" />
		</form>
	
	</fieldset>

{% endblock %}