{% extends "family_info/base.html" %}

{%load smartif%}


{% block collection_tool_content %}		
		<h2 id="contenttitle">
			Log In
		</h2>
		        {% if form.has_errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <p class="errornote">{{ error_message }}</p>


           <form method="post" action="{{ app_path }}">
	
	              <fieldset>
	
		              <legend>User Information</legend>
	
			              <table>
			
			                  <tr>
			                  <td>User Name:</td>
			                  <td>{{ form.username }}</td>
			                  </tr>
			
			                  <tr>
			                  <td>Password:</td>
			                  <td>{{ form.password }}</td>
			                  </tr>
			
			                  <tr>
			                  <td colspan="2"><input type="submit" value="Log In"></td>
			                  </tr>
			
			              </table>
	
	              </fieldset>
  <input type="hidden" name="next" value="{{ next }}" />     
</form>
        
            
            <script type="text/javascript">
              document.getElementById('id_username').focus()
            </script>
{% endblock collection_tool_content %}
