<!DOCTYPE html>
{%ifequal 1 1%}
<html manifest="{%url collection_tool.views.manifest %}">
{% else %}
<html>
{%endifequal%}

<head>
	<title>mySmileBuddy</title>
  <script type="text/javascript" src="/site_media/js/smilekit_common.js"></script>
{% block collection_tool_js %}
{% endblock collection_tool_js %}
	<link type="image/png" rel="apple-touch-icon" href="/collection_tool/media/images/mysmilebuddy_icon.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />	
	<meta name="viewport" content="width=720, maximum-scale=1.0" />

{% block css %}
	<link type="text/css" rel="stylesheet" href="/collection_tool/media/css/collection_tool.css" />
{% endblock %}
		
		
</head>

<body>
<div id="wrapper">
	<div id="masthead">
		<!--<h1 id="logo"><a href="/">MySmileBuddy</a></h1>-->
		<h1 id="logo">MySmileBuddy</h1>
		<div id="mastheadnav">

    <a href="/about/">About</a>
    <a href="/library/">Library</a>			
    {% block language_toggle %}
			<a href="">Espa&#241;ol</a>
			<a href="">English</a>
    {% endblock %}
			<a id="interview_link" href="/family_info/dashboard/">Dashboard</a>
			<a id="family_id_nav_display" href="javascript:void();"id ="family_id_nav_display">FamilyID</a>
			<a id="user_id_nav_display" href="javascript:void();">Hi, {{user.username}}!</a>
		</div>
		
	</div>


<div id="mainnav">


	<a id="introductiontab" class="{% block introductiontabactive %}{% endblock %} introductiontab mainfirsttab"
	
	href="/collection_tool/intro/language/{{language_code}}/">{%ifequal language_code 'en'%}Introduction{%endifequal%}{%ifequal language_code 'es'%}Introduction (es){%endifequal%}</a>
	
	
  <a id="assessmenttab" class="{% block assessmenttabactive %}{% endblock %} assessmenttab"
  
  href="/collection_tool/section/1/language/{{language_code}}/">{%ifequal language_code 'en'%}Assessment{%endifequal%}{%ifequal language_code 'es'%}Assessment (es){%endifequal%}</a>
  
  
  <a id="risktab" class="risktab {% block risktabactive %}{% endblock %}"
  
  href="/collection_tool/risk/language/{{language_code}}/">{%ifequal language_code 'en'%}Risk{%endifequal%}{%ifequal language_code 'es'%}Risk (es){%endifequal%}</a>
  
  
  <a id="planningtab" class="{% block planningtabactive %}{% endblock %} planningtab mainlasttab"
  
  href="/collection_tool/goals/language/{{language_code}}/">{%ifequal language_code 'en'%}Planning{%endifequal%}{%ifequal language_code 'es'%}Planning (es){%endifequal%}</a>


</div>
	







{% block assessmentnav %}
{% endblock %}
	<div id="contentcontainer">
{% block collection_tool_content %}
{% endblock collection_tool_content %}
</body>

</html>
