<!DOCTYPE html>
{%ifequal 1 1%}
<html manifest="/collection_tool/manifest.cache">
{% else %}
<html>
{%endifequal%}

<head>
	<title>mySmileBuddy</title>
	
{% block collection_tool_js %}
{% endblock collection_tool_js %}
	
	<link type="image/png" rel="apple-touch-icon" href="/collection_tool/media/images/mysmilebuddy_icon.png" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />	
	<meta name="viewport" content="width=720, maximum-scale=1.0" />

{% block css %}
	<link type="text/css" rel="stylesheet" href="/collection_tool/media/css/collection_tool.css" />
{% endblock %}
		
		
</head>

<body>

<div id="wrapper">

	<div id="masthead">
	
		<h1 id="logo"><a href="#">MySmileBuddy</a></h1>
		
		<div id="mastheadnav">
		  

{% block language_toggle %}
			<a href="">En Espa&#241;ol</a>
			<a href="">English</a>
{% endblock %}
			<a href="/family_info/start_interview">Interview page</a>
			<a href="/library">Library</a>
			<a href="/about/">About</a>
		  
		</div>
		
	</div>


{% block mainnav %}
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="/collection_tool/introduction/">Introduction</a>
		<a id="assessmenttab" class="assessmenttabactive" href="/collection_tool">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
{% endblock %}
	


{% block assessmentnav %}
{% endblock %}

	<!--
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab planningtabactive" href="#">Planning</a>
	</div>
	<div id="planningnav">
		<a id="" class="firsttab activetab" href="#">Topics</a>
		<a id="" class="" href="#">My Day</a>
		<a id="" class="" href="#">Goal Form</a>
		<a id="" class="lasttab" href="#">History</a>
	</div>

	<div id="planningnav">
		<a id="" class="firsttab" href="#">Topics</a>
		<a id="" class="activetab" href="#">My Day</a>
		<a id="" class="" href="#">Goal Form</a>
		<a id="" class="lasttab" href="#">History</a>
	</div>

	<div id="planningnav">
		<a id="" class="firsttab" href="#">Topics</a>
		<a id="" class="" href="#">My Day</a>
		<a id="" class="activetab" href="#">Goal Form</a>
		<a id="" class="lasttab" href="#">History</a>
	</div>

	<div id="planningnav">
		<a id="" class="firsttab" href="#">Topics</a>
		<a id="" class="" href="#">My Day</a>
		<a id="" class="" href="#">Goal Form</a>
		<a id="" class="lasttab activetab" href="#">History</a>
	</div>
	-->
	<div id="contentcontainer">

{% block collection_tool_content %}
{% endblock collection_tool_content %}

</body>

</html>
