{% extends "collection_tool/base.html" %}
	
		{% block collection_tool_content %}
		<div id="contentnav">
		
			<a id="left" href="#">&#8592; Back</a>
			
			<a id="help" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='block';document.getElementById('helpoff').style.display='block'">Help!</a>
			
			{% include "collection_tool/help.html" %}
		
			<a id="right" href="#">Next &#8594;</a>
			
		</div>
		
		<h2 id="contenttitle">{{wording}}</h2>
		
			
			<div class="contentbuttons">
			{%for a in answer_wordings%}
				<a href="#" class="contentbutton">{{a}}</a>
			{%endfor%}	
			</div>
			
		</div>
	
	</div>
	
</div>
{% endblock collection_tool_content %}
