{% extends "collection_tool/base.html" %}

{%load smartif%}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/goals.js" type="text/javascript"></script>
{% endblock collection_tool_js %}


{% block planningtabactive %}planningtabactive{% endblock %}


{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/goals/language/es/">Espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/goals/language/en/">English</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}

	<div id ="language_code_div">{{language_code}}</div>
	
	<h2 align="center">
	  Plan History
	</h2>

	<p>
	 These are some of the goals you've already made progress on:
	</p>
	
	<!-- JS will hide the ones you haven't visited. -->
	<ul>
	{% for goal in all_goals %}	
	<li class="goal_title used" id="goal_{{goal.id}}">
	    {%ifequal language_code 'en'%}
	    <a href="/collection_tool/goal/{{goal.id}}/language/en/">{{goal.english_title}}</a>
	    {%endifequal%}
	    {%ifequal language_code 'es'%}
	    <a href="/collection_tool/goal/{{goal.id}}/language/es/">{{goal.spanish_title}}</a>
	    {%endifequal%}
	</li>
	{%endfor%}
	</ul>
	
	<p>
	 Here are some other goals to look at:
	</p>
	
	
	<!-- JS will hide the ones you have visited. -->
	<ul>
	{% for goal in all_goals %}	
	<li class="goal_title not_used" id="other_goal_{{goal.id}}">
	    {%ifequal language_code 'en'%}
	    <a href="/collection_tool/goal/{{goal.id}}/language/en/">{{goal.english_title}}</a>
	    {%endifequal%}
	    {%ifequal language_code 'es'%}
	    <a href="/collection_tool/goal/{{goal.id}}/language/es/">{{goal.spanish_title}}</a>
	    {%endifequal%}
	<!--
	
	-->
	</li>
	{%endfor%}
	</ul>
	

{% endblock collection_tool_content %}
