{% extends "collection_tool/base.html" %}

{%load smartif%}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/goal.js" type="text/javascript"></script>
{% endblock collection_tool_js %}

{% block planningtabactive %}planningtabactive{% endblock %}


{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/goal/{{goal.id}}/language/es/">espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/goal/{{goal.id}}/language/en/">english</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}
	<div id ="language_code_div">{{language_code}}</div>
	<div id ="goal_id_div">{{goal.id}}</div>
	
	{%ifequal language_code 'en'%}
	  <h2 align="center">{{goal.english_title}}.</h2>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
	  <h2 align="center">{{goal.spanish_title}}.</h2>
	{%endifequal%}

	
	<table>
	    <tr>
	      <td>
	        	{%ifequal language_code 'en'%}
	            What is your goal?
	          {%endifequal%}
	
	          {%ifequal language_code 'es'%}
	            What is your goal?(es)
	          {%endifequal%}
	      </td>
	      <td>
        	<input type="text" class="goal_textfield name" id ="{{goal.id}}_name" name ="{{goal.id}}_name" />
	      </td>
	    </tr>
      <tr>
	      <td>
	        
	        	{%ifequal language_code 'en'%}
	            What are the four steps it will take to make it happen:
	          {%endifequal%}
	          {%ifequal language_code 'es'%}
	            What are the four steps it will take to make it happen: (es)
	          {%endifequal%}
	      </td>
	      <td>
        	<input type="text" class="goal_textfield resp" id ="{{goal.id}}_resp" name ="{{goal.id}}_resp" />
	      </td>
	    </tr>
		  <tr>
	      <td>
	        {%ifequal language_code 'en'%}
              Who is responsible for this success:	      
	        {%endifequal%}
	   
	        {%ifequal language_code 'es'%}
              Who is responsible for this success:	    (es)
	          {%endifequal%}
	      </td>
	      <td>
	      	<textarea class="goal_textfield stps"  id ="{{goal.id}}_stps" name ="{{goal.id}}_stps">
	      	</textarea>
	     
	      </td>
	    </tr>
	    <tr>
	      <td>
	        {%ifequal language_code 'en'%}
              When will this happen?
	          {%endifequal%}
	        {%ifequal language_code 'es'%}
              When will this happen? (es)
	          {%endifequal%}
	      </td>
	      <td>
        	<input type="text" class="goal_textfield when" id ="{{goal.id}}_when" name ="{{goal.id}}_when" />
	      </td>
	    </tr>
	</table>
	
	<div align="center" id = "set_goal_div" >
    {%ifequal language_code 'en'%}
    <a href = "/collection_tool/goals/language/en/">Set Goal (en)</a>
    {%endifequal%}
    {%ifequal language_code 'es'%}
    <a href = "/collection_tool/goals/language/es/">Set Goal (es)</a>
    {%endifequal%}
	<!--
	<a href = "" > Cancel and Start over </a>
	-->
	</div>
    


{% endblock collection_tool_content %}
