<div id="helpon" class="help_box">

	<div class="help_content">
		
		<h4>Help!</h4>
		
		<h5>Objective:</h5>
		
		<p>Lorem ipsuaam dolor sit amet, consectetur adipiscing elit. Curabitur sed lorem urna, ut placerat odio.</p> 
		
		<h5>Watch for:</h5>
		
		<ul>
		<li>This</li>
		<li>This and</li>
		<li>That</li>
		</ul>
		
		<h5>Instructions</h5>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed lorem urna, ut placerat odio.</p> 
		
		<h5>Script</h5>
		
		<p>
		GARY: (holding umbrella) Lorem ipsum dolor sit amet, consectetur adipiscing elit? 
		</p>
		
		<p>
		GARY: (holding PEZ dispenser) Phasellus sit amet nisi id augue pharetra ullamcorper vel fermentum risus. Maecenas at diam a lorem varius ullamcorper at eu sapien! 
		</p>
		
		<p>
		CUT TO: GARY and DENNIS laughing maniacally.
		</p>
		
		<p>
		END
		</p>
		
		<h5>Important Terms</h5>
		
		<p>
		<b>Definition</b> - definition body.
		</p>

		<p>
		<b>Definition</b> - definition body.
		</p>

		<a id="help_close" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='none';document.getElementById('helpoff').style.display='none'">X</a>
	</div>
	
</div>
