<div id="helpon" class="help_box">

	<div class="help_content">
	
		
		<h4>Guide</h4>
		
	{%if h_i.english_objective %}
		<h5>Objective: </h5>
		
		<p>
		{%ifequal language_code 'es'%}{{h_i.english_objective}}{%endifequal %}
		{%ifequal language_code 'en'%}{{h_i.english_objective}}{%endifequal %}
		</p> 
	{%endif %}
		
	{% if h_i.english_script %}
		<h5>Script:</h5>
		
		<p>
		{%ifequal language_code 'es'%}{{h_i.spanish_script}}{%endifequal %}
		{%ifequal language_code 'en'%}{{h_i.english_script}}{%endifequal %}
		</p>
	{%endif %}
		
  {%if h_i.helpbulletpoint_set.all %}
		<h5>Watch for:</h5>
		
		<ul>
		{% for b in h_i.helpbulletpoint_set.all %}
		<li>
		{%ifequal language_code 'es'%}{{b.spanish_text}}{%endifequal %}
		{%ifequal language_code 'en'%}{{b.english_text}}{%endifequal %}
		</li>
		{% endfor %}
		</ul>
	{%endif %}
		
		
  {%if h_i.english_script_instructions %}
		<h5>More Information:</h5>
		
		<p>
		{%ifequal language_code 'es'%}{{h_i.spanish_script_instructions}}{%endifequal %}
		{%ifequal language_code 'en'%}{{h_i.english_script_instructions}}{%endifequal %}
		</p>
  {%endif%}
		
		
	{%if  h_i.helpdefinition_set.all %}
		<h5>Definitions:</h5>
		
		{% for d in h_i.helpdefinition_set.all %}
		<p>
		{%ifequal language_code 'es'%}
		<b>{{d.spanish_title}}</b> - {{d.spanish_body}}
		{%endifequal %}
		{%ifequal language_code 'en'%}
		<b>{{d.english_title}}</b> - {{d.english_body}}
		{%endifequal %}
		</p>
		{% endfor %}
	{%endif %}
		
		
		
		<a id="help_close" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='none';">X</a>
		
		
	</div>
	
</div>
