<!DOCTYPE html>
{%ifequal 1 0%}
<html manifest="/collection_tool/manifest.cache">
{% else %}
<html>
{%endifequal%}

<head>
	<title>mySmileBuddy</title>
	
{% block collection_tool_js %}
{% endblock collection_tool_js %}
	
	<link type="image/png" rel="apple-touch-icon" href="/collection_tool/media/images/mysmilebuddy_icon.png" />
	<link type="text/css" rel="stylesheet" href="/collection_tool/media/css/collection_tool.css" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />	
	<meta name="viewport" content="width=720, maximum-scale=1.0" />
		
		
</head>

<body>

<div id="wrapper">

	<div id="masthead">
	
		<h1 id="logo"><a href="#">MySmileBuddy</a></h1>
		
		<div id="mastheadnav">
		  
{% block language_toggle %}
			<a href="/collection_tool/question/2/language/es/">En Espa&#241;ol</a>
			<a href="/collection_tool/question/2/language/en/">English</a>
{% endblock %}
			<a href="/collection_tool/yes/">cache</a>
			<a href="#">Stop Visit</a>
			<a href="#">Library</a>
			<a href="#">About</a>
		  
		</div>
		
	</div>

	<!--
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab introductiontabactive" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
	-->

	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="assessmenttabactive" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
	

	<div id="assessmentnav">
		<a class="firsttab activetab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<!--
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="activetab" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="activetab" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab activetab" href="#">Fluoride</a>
	</div>
	
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="risktabactive" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>

	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab planningtabactive" href="#">Planning</a>
	</div>
	
	<div id="planningnav">
		<a class="firsttab activetab" href="#">Link</a>
		<a class="lasttab" href="#">Link</a>
	</div>

	<div id="planningnav">
		<a class="firsttab" href="#">Link</a>
		<a class="lasttab activetab" href="#">Link</a>
	</div>
	-->
	
	<div id="contentcontainer">

{% block collection_tool_content %}
{% endblock collection_tool_content %}

</body>

</html>
