{% extends "collection_tool/base.html" %}
{%load smartif%}

{% block introductiontabactive %}introductiontabactive{% endblock %}

{% block language_toggle %}
		{%ifequal language_code 'en'%}
		<a href="/collection_tool/intro/language/es/">Espa&#241;ol</a>
		{%endifequal%}
					
		{%ifequal language_code 'es'%}
			<a href="/collection_tool/intro/language/en/">English</a>
		{%endifequal%}
{% endblock %}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/collection_tool.js" type="text/javascript"></script>
{% endblock collection_tool_js %}



		{% block collection_tool_content %}
		
		<div id="contentnav">
			          <a id="left" href="">&#8592;</a>
          	
          	{%comment %}	
			              <a id="help" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='block';">Help!</a>
                	  {% include "collection_tool/help.html" %}
	          {%endcomment %}
			
			     <a id="right" href=""> &#8594;</a>
		</div>
		
		
		<div id="content">
		      {%ifequal language_code 'en'%}
			       My Smile Buddy is a tool that helps you figure out if your kids are at risk of getting cavities and what you can do to help keep them healthy.  As we use My Smile Buddy, you’ll answer questions about your kids’ habits – and some of yours -- to determine their risk of cavities.  Along the way, you can watch videos and read more about what habits encourage healthy teeth and why.  After you complete the risk assessment, My Smile Buddy will help you set goals and plan how to achieve them to lower your child’s risk of cavities.  

To start out, take a look at the Introduction to MySmileBuddy video in the video library.  When you're done watching, come back here and start the assessment.
		      {%endifequal%}
					
		      {%ifequal language_code 'es'%}
			      Spanish content
		      {%endifequal%}
				
			</div>
			<div align = "center">
			    <img src="/collection_tool/media/images/smiling_baby.jpeg" />
			</div>
			
		</div>

{% endblock collection_tool_content %}
