
<div class="photobox">
	<div class="photoboxcontainer">
		<div class="photoboxlabel">
	Food photobox
	</div>
		<div class="thumbnails">
	
		<div class="thumbnail thumbnailselected">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
	
		<div class="thumbnail thumbnailselected">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
		
		<div class="thumbnail">
			<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
			<span class="thumbnaillabel">Label</span>
		</div>
		
	</div>
		<br clear="all" />
	</div>
</div>
