<div id="planner">

	<div id="plannerright">
	
		<div class="photobox">
			<div class="photoboxcontainer">
				<div class="photoboxlabel">
			Food
			</div>
				<div class="thumbnails">
			
				<div class="thumbnail thumbnailselected">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
			
				<div class="thumbnail thumbnailselected">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
			</div>
				<br clear="all" />
			</div>
		</div>
		
		<div class="photobox">
			<div class="photoboxcontainer">
				<div class="photoboxlabel">
			Beverage
			</div>
				<div class="thumbnails">
			
				<div class="thumbnail">
					<a href="#" class="thumbnailimage selected"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
			
				<div class="thumbnail thumbnailselected">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
				<div class="thumbnail">
					<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
					<span class="thumbnaillabel">Label</span>
				</div>
				
				
			</div>
				<br clear="all" />
			</div>
		</div>

	</div>

	<div id="plannerleft">
		
		<div id="timetable">
		
			<div class="timerow">
				<div class="time"><span class="timetext">7:00AM</span></div>
				<div class="timeactivity"><span class="timetext"><span>Activity</span></div>
				<a href="#" title="Move Up" class="timeactionup"><span class="timetext">Up</span></a>
				<a href="#" title="Move Down" class="timeactiondown"><span class="timetext">Down</span></a>
				<a href="#" title="Edit Activity" class="timeactionedit"><span class="timetext">Edit</span></a>
				<a href="#" title="Delete Activity" class="timeactiondelete"><span class="timetext">Delete</span></a>
			</div>
		
			<div class="timerow">
				<div class="time"><span class="timetext">7:30AM</span></div>
				<div class="timeactivity"><span class="timetext"><span>Activity</span></div>
				<a href="#" title="Move Up" class="timeactionup"><span class="timetext">Up</span></a>
				<a href="#" title="Move Down" class="timeactiondown"><span class="timetext">Down</span></a>
				<a href="#" title="Edit Activity" class="timeactionedit"><span class="timetext">Edit</span></a>
				<a href="#" title="Delete Activity" class="timeactiondelete"><span class="timetext">Delete</span></a>
			</div>
		
			<div class="timerowfilled">
				<div class="time"><span class="timetext">8:00AM</div>
				<div class="timeactivity"><span class="timetext"><span>Special Activity</span></div>
				<a href="#" title="Move Up" class="timeactionup"><span class="timetext">Up</span></a>
				<a href="#" title="Move Down" class="timeactiondown"><span class="timetext">Down</span></a>
				<a href="#" title="Edit Activity" class="timeactionedit"><span class="timetext">Edit</span></a>
				<a href="#" title="Delete Activity" class="timeactiondelete"><span class="timetext">Delete</span></a>
			</div>
		
			<div class="timerow">
				<div class="time"><span class="timetext">8:30AM</span></div>
				<div class="timeactivity"><span class="timetext"><span>Activity</span></div>
				<a href="#" title="Move Up" class="timeactionup"><span class="timetext">Up</span></a>
				<a href="#" title="Move Down" class="timeactiondown"><span class="timetext">Down</span></a>
				<a href="#" title="Edit Activity" class="timeactionedit"><span class="timetext">Edit</span></a>
				<a href="#" title="Delete Activity" class="timeactiondelete"><span class="timetext">Delete</span></a>
			</div>
		
			<div class="timerow">
				<div class="time"><span class="timetext">9:00AM</span></div>
				<div class="timeactivity"><span class="timetext"><span>Activity</span></div>
				<a href="#" title="Move Up" class="timeactionup"><span class="timetext">Up</span></a>
				<a href="#" title="Move Down" class="timeactiondown"><span class="timetext">Down</span></a>
				<a href="#" title="Edit Activity" class="timeactionedit"><span class="timetext">Edit</span></a>
				<a href="#" title="Delete Activity" class="timeactiondelete"><span class="timetext">Delete</span></a>
			</div>
		
		</div>
	
	</div>
	

</div>
<form action="#" method="post">

<div class="formbuttons">
		
	<input class="formbutton green" type="button" value="Done" /> 
	
	<input class="formbutton red" type="button" value="Cancel" /> 

</div>

</form>
