<div id="planner">

	<div id="plannerright">
	
        {% regroup items by get_type_display as item_list %}
        
          {% for type in item_list %}

		    <div class="photobox" id="photobox-{{type.grouper|lower}}">
			  <div class="photoboxcontainer">
  	          <div class="photoboxhideshow">-</div>
			    <div class="photoboxlabel">
			      {{ type.grouper }}
			    </div>

				 <div class="thumbnails">
				 
				   {% for item in type.list %}
		    	   <div class="thumbnail">
					  <div class="thumbnailimage"><img alt="" src="/collection_tool/media/images/planner/{{item.label|slugify}}.jpg" /></div>
					  <span class="thumbnaillabel">{{ item.label }}</span>
				   </div>
				   {% endfor %}
				
				</div><!-- end thumbnails -->
				<br clear="all" />
				
		    </div><!-- end photoboxcontainer -->
		    </div><!-- end photobox -->
				
		    {% endfor %}

	</div>

	<div id="plannerleft">
		
		<div id="timetable">
		
		  {% for time in times %}
		
			<div class="timerow timerowcollapsed">
				<div class="time"><span class="timetext">{{ time }}</span></div>
				<div class="timeactivity">
				  <span class="timetext">
				    <span class="mealorsnack"></span>: <span class="activityitems"></span>
				  </span>
				</div>
				<div title="Move Up" class="timebutton timeactionup"><span class="timetext">Up</span></div>
				<div title="Move Down" class="timebutton timeactiondown"><span class="timetext">Down</span></div>
				<div title="Swap Type" class="timebutton timeactionswap"><span class="timetext">Swap</span></div>
				<div title="Delete Activity" class="timebutton timeactiondelete"><span class="timetext">Delete</span></div>
			</div>
			
	     {% endfor %}
		
		<div id="timelinearrow" class="arrowclose" style="display:none;"></div>
		<div id="timelinearrow" class="arrowopen"></div>


		</div>

	</div>
	

</div>

<form action="#" method="post">

<div class="formbuttons">
		
	<input class="formbutton green" type="button" value="Done" /> 
	
	<input class="formbutton red" type="button" value="Cancel" /> 

</div>

</form>