{% extends "collection_tool/base.html" %}
{%load smartif%}


{% block collection_tool_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/json2.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/collection_tool.js" type="text/javascript"></script>


{% endblock collection_tool_js %}



{% block language_toggle %}
		{%ifequal language_code 'en'%}
		<a href="/collection_tool/question/{{displayquestion.id}}/language/es/">espa&#241;ol</a>
		{%endifequal%}
					
		{%ifequal language_code 'es'%}
			<a href="/collection_tool/question/{{displayquestion.id}}/language/en/">english</a>
		{%endifequal%}
{% endblock %}

	
		{% block collection_tool_content %}
		<div id="contentnav">
		  
		
		  {% if displayquestion.prev%}
			  <a id="left" href="/collection_tool/question/{{displayquestion.prev.id}}/language/{{language_code}}/">&#8592; Back</a>
			{%endif%}
			
			<a id="help" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='block';document.getElementById('helpoff').style.display='block'">Help!</a>
			
			{% include "collection_tool/help.html" %}
		
			{% if displayquestion.next%}
			  <a id="right" href="/collection_tool/question/{{displayquestion.next.id}}/language/{{language_code}}/">Next &#8594;</a>
			{%endif%}
			
		</div>
		<div id ="debug_localstorage"></div>
		
		<div id ="question_id_div">{{displayquestion.id}}</div>
		
		<h2 id="contenttitle">{{wording}}</h2>
			<img src="/uploads/{{displayquestion.image}}" />
			<div class="contentbuttons">
			{%for a in answers%}
				<a href="#"  id ="answer_{{a.id}}" class="contentbutton">{{a.wording}}</a>
				
				{% if a.image %}
				this answer has an image: <img src="/uploads/{{a.image}}"/>
			    {%endif%}    
			
			{%endfor%}	
			</div>
			
		</div>
	
	</div>
	
</div>
{% endblock collection_tool_content %}
