{% extends "collection_tool/base.html" %}

{%load smartif%}



{% block mainnav %}
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="/collection_tool/introduction/">Introduction</a>
		<a id="assessmenttab" class="" href="/collection_tool">Assessment</a>
		<a id="risktab" class="risktabactive" href="/collection_tool/risk/language/en">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
{% endblock %}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk.js" type="text/javascript"></script>
{% endblock collection_tool_js %}


{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/question/{{displayquestion.id}}/language/es">espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/question/{{displayquestion.id}}/language/en">english</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}
		<div id ="language_code_div">{{language_code}}</div>
    <div>
    <!-- all the JSON you need to calculate scores: -->
    <pre id = "scoring_info"> {  {% for t in all_topics%} 
          {%if not forloop.first%},{%endif%}"{{t.id}}" : {{t.scoring_info}}
    {%  endfor %}  }  </pre>
      <pre id = "maxmin_scoring_info"> { {% for t in all_topics%} 
          {%if not forloop.first%},{%endif%}"{{t.id}}" : {{t.maxmin_scoring_info}}
    {%  endfor %}  } </pre>
    <!-- Show only families with active interviews?? meh, that's just more debugging. -->
    <pre id = "family_configs"> {  {% for f in all_families%} 
          {%if not forloop.first%},{%endif%}"{{f.id}}" : {{f.config.id}}
    {%  endfor %}  } </pre>
 <!-- end scoring info -->

    <h2 id="your_score_is">Your risk score is:</h2>
    
    <!-- one of these gets shown; the others stay hidden. -->
	<div class="score_div score_1">1</div>
	<div class="score_div score_2">2</div>
	<div class="score_div score_3">3</div>
	<div class="score_div score_4">4</div>
	<div class="score_div score_5">5</div>
	<div class="score_div score_6">6</div>
	<div class="score_div score_7">7</div>
	<div class="score_div score_8">8</div>
	<div class="score_div score_9">9</div>
	<div class="score_div score_10">10</div>
    <!-- one of these gets shown; the others stay hidden. -->
    
    <!-- note: spelling it 'hig' instead of high'; keeps the code easier to read if it's 3 characters. -->
    <div align="center">
    
	    <div id="hig_risk" class="risk_div">
		 There is high risk.
	    </div>
	    
	    <div id="med_risk" class="risk_div">
		 There is medium risk.
	    </div>
	    
	    <div id="low_risk" class="risk_div">
		 There is low risk.
	    </div>
	    
	    <img src="/collection_tool/media/images/risk_graphic.png" />
	    
	    <div id="risk_next">
		 <a href = "/collection_tool/topics/language/en">Let's Reduce this Risk!</a>
	    </div>
    
    </div>

    </div>
			
		</div>
	
	</div>
	
</div>

{% endblock collection_tool_content %}
