{% extends "collection_tool/base.html" %}

{%load smartif%}

{% block risktabactive %}risktabactive{% endblock %}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk.js" type="text/javascript"></script>
{% endblock collection_tool_js %}


{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/risk/language/es/">espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/risk/language/en/">english</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}

		<div id ="language_code_div">{{language_code}}</div>
    <div>
    <!-- all the JSON you need to calculate scores: -->

    <pre id = "scoring_info"> {  {% for t in all_topics%} 
          {%if not forloop.first%},{%endif%}"{{t.id}}" : {{t.scoring_info}}
    {%  endfor %}  }  </pre>

    <pre id = "maxmin_scoring_info"> { {% for t in all_topics%} 
          {%if not forloop.first%},{%endif%}"{{t.id}}" : {{t.maxmin_scoring_info}}
    {%  endfor %}  } </pre>

    <pre id = "family_configs"> {  {% for f in all_families%} 
          {%if not forloop.first%},{%endif%}"{{f.id}}" : {{f.config.id}}
    {%  endfor %}  } </pre>
 <!-- end scoring info -->

		<div id="contentnav">
			  <a id="left" href="">&#8592;</a>
			  
		{%if help_item.help_item %}
		<a id="help" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='block';">Help!</a>
		  {% with help_item.help_item as h_i %}
          {% include "collection_tool/help.html" %}
		  {%endwith%}
		{%endif %}
			  
		</div>	  

    <h2 id="your_score_is">
    	  {%ifequal language_code 'en'%}
		       Your risk score is:
	      {%endifequal%}
				
	      {%ifequal language_code 'es'%}
		       Your risk score is:(es)
	      {%endifequal%}
    </h2>
    
    <!-- one of these gets shown; the others stay hidden. -->
	<div class="score_div score_1">1</div>
	<div class="score_div score_2">2</div>
	<div class="score_div score_3">3</div>
	<div class="score_div score_4">4</div>
	<div class="score_div score_5">5</div>
	<div class="score_div score_6">6</div>
	<div class="score_div score_7">7</div>
	<div class="score_div score_8">8</div>
	<div class="score_div score_9">9</div>
	<div class="score_div score_10">10</div>
    <!-- one of these gets shown; the others stay hidden. -->
    
    <!-- note: spelling it 'hig' instead of high'; keeps the code easier to read if it's 3 characters. -->
    <div align="center">
    
	    <div id="hig_risk" class="risk_div">
	      {%ifequal language_code 'en'%}
		       There is high risk.
	      {%endifequal%}
				
	      {%ifequal language_code 'es'%}
		       There is high risk.(es)
	      {%endifequal%}
	    </div>
	    
	    <div id="med_risk" class="risk_div">
	      {%ifequal language_code 'en'%}
		       There is medium risk.
	      {%endifequal%}
				
	      {%ifequal language_code 'es'%}
		       There is medium risk.(es)
	      {%endifequal%}
	    </div>
	    
	    <div id="low_risk" class="risk_div">
	      {%ifequal language_code 'en'%}
		       There is low risk.
	      {%endifequal%}
				
	      {%ifequal language_code 'es'%}
		       There is medium risk.(es)
	      {%endifequal%}
	    </div>
	    
	    <img src="/collection_tool/media/images/risk_graphic.png" />
	    
	    <div id="risk_next">
	    	 {%ifequal language_code 'en'%}
		       <a href = "/collection_tool/topics/language/en/">Let's Reduce this Risk!</a>
	      {%endifequal%}
	      {%ifequal language_code 'es'%}
		      <a href = "/collection_tool/topics/language/es/">Let's Reduce this Risk! (es)</a>
	      {%endifequal%}
	    </div>
    
    </div>

    </div>
			
		</div>
	
	</div>
	
</div>

{% endblock collection_tool_content %}
