{% extends "collection_tool/base.html" %}
{%load smartif%}



		{% block collection_tool_content %}
		<div id="content">
		
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat volutpat lacus a pulvinar. Maecenas magna tellus, adipiscing quis blandit ut, congue bibendum lectus. Aliquam euismod elementum nunc; id dapibus orci congue et. Ut non lorem enim. Ut pretium libero sit amet turpis ullamcorper tempor. Maecenas sed risus augue. Fusce tincidunt enim vel metus lacinia euismod? Proin dui tellus; commodo at porta in; fermentum non turpis. Aliquam neque magna, faucibus sit amet luctus ut, luctus aliquam turpis. Donec adipiscing mi at ipsum ultricies blandit. Aliquam euismod mattis euismod. Duis aliquam sollicitudin quam at rutrum. Ut purus neque, dignissim ac semper vitae, condimentum vitae lectus. Praesent eleifend aliquet elit. Donec ultricies; justo ut venenatis elementum, quam massa euismod magna, ac imperdiet elit risus ut sapien.
			</p>
			
			<div class="contentbuttons">
			
				<a href="#" class="contentbutton contentbuttoncomplete">Question 1</a>
				
				<a href="#" class="contentbutton">Question 2</a>
					
				<a href="#" class="contentbutton">Question 3</a>
				
			</div>
			
		</div>

{% endblock collection_tool_content %}
