{% extends "collection_tool/base.html" %}
{%load smartif%}


{% block assessmenttabactive %}assessmenttabactive{% endblock %}

{% block assessmentnav %}
	<div id="assessmentnav">
	{% for s in all_sections %}
	 <a id="asstab0{{s.id}}" class="{%if forloop.first%}firsttab{%endif%} {%if forloop.last%}lasttab{%endif%}  {%ifequal section.title s.title %}activetab{%endifequal%}" href="/collection_tool/section/{{s.id}}/language/{{language_code}}/">
	  {%ifequal language_code 'en'%}
		      {{s.english_title}}
		{%endifequal%}
		{%ifequal language_code 'es'%}
			    {{s.spanish_title}}
		{%endifequal%}
		</a>
	{% endfor %}
	</div>
	
{% endblock %}




{% block language_toggle %}
		{%ifequal language_code 'en'%}
		<a href="/collection_tool/section/{{section.id}}/language/es/">Espa&#241;ol</a>
		{%endifequal%}
					
		{%ifequal language_code 'es'%}
			<a href="/collection_tool/section/{{section.id}}/language/en/">English</a>
		{%endifequal%}
{% endblock %}


{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/collection_tool.js" type="text/javascript"></script>
{% endblock collection_tool_js %}



		{% block collection_tool_content %}
		
				<div id="contentnav">
			  <a id="left" href="">&#8592;</a>
  	
  		  {%if section.help_item.help_item %}
        		      <a id="help" href="javascript:void(0)" onclick="document.getElementById('helpon').style.display='block';">Help!</a>
          {% with section.help_item.help_item as h_i %}
              	  {% include "collection_tool/help.html" %}
		      {% endwith %}	
			  {%endif%}
			  
			  <a id="right" href="">&#8594;</a>
			  
			  
		</div>
		
		
		<div id="content">
			
			<h2 id="contenttitle">{{section.english_title}}</h2>
			 <div class="section_description">
				    {%ifequal language_code 'en'%}
						<p><b>{{section.english_description}}</b></p>
				    {%endifequal%}
				    {%ifequal language_code 'es'%}
						<p><b>{{section.spanish_description}}</b></p>
				    {%endifequal%}
			 </div>			
			
			
			<div class="contentbuttons">
			{% spaceless %}
			
			 {% for q in section.displayquestion_set.all%}
			   <!--  'contentbuttoncomplete' is added by javascript ... TODO: add info re: scoring here in title-->
				  <a style="display: block;" href="/collection_tool/question/{{q.id}}/language/{{language_code}}/" 
				  class="contentbutton indexpage display_question_id_{{q.id}} question_id_{{q.question.id}}" 
				  id = "question_{{q.id}}"
				  
				  title = "">
				  {%ifequal language_code 'en'%}{{q.english}}{%endifequal%}
		      {%ifequal language_code 'es'%}{{q.spanish}}{%endifequal%}
		      </a>
			{%endfor %}
				
					
					

			<div id="debugstuff" style="border: 1px solid #000; margin-top: 20px; text-align: center;">
				<div>Debug Stuff</div>
				<div id="debug_localstorage"></div>
				<div id="debug_cache_status"></div>
				<div><img id="online_or_not" src="/collection_tool/media/images/icon_offline.jpg" ></div>
			</div>
			
		{% endspaceless %}
					
			</div>
			
		</div>

{% endblock collection_tool_content %}
