{% ifequal a.text 'a lot'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Muchos</a>
{% endifequal %}
{% ifequal a.text 'some'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Algunos</a>
{% endifequal %}
{% ifequal a.text 'few'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Pocos</a>
{% endifequal %}
{% ifequal a.text 'none'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Ninguno</a>
{% endifequal %}
{% ifequal a.text 'true'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Cierto</a>
{% endifequal %}
{% ifequal a.text 'false'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Falso</a>
{% endifequal %}
{% ifequal a.text 'not sure'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">No estoy seguro(a)</a>
{% endifequal %}
{% ifequal a.text 'agree'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Estoy de acuerdo</a>
{% endifequal %}
{% ifequal a.text 'neutral not sure'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">No estoy seguro(a)</a>
{% endifequal %}
{% ifequal a.text 'disagree'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">No estoy de acuerdo</a>
{% endifequal %}
{% ifequal a.text 'yes'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton yesbutton">Sí</a>
{% endifequal %}
{% ifequal a.text 'no'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton nobutton">No</a>
{% endifequal %}
{% ifequal a.text 'never'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Nunca</a>
{% endifequal %}
{% ifequal a.text 'sometimes'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">A veces</a>
{% endifequal %}
{% ifequal a.text 'often'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Con frecuencia</a>
{% endifequal %}
{% ifequal a.text 'always'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Siempre</a>
{% endifequal %}

<!--

A lot (muchos); Some (Algunos) ; A few (Pocos); None (Ninguno)
True (cierto), False (Falsos);
I’m not sure (no estoy segura), I agree (Estoy de acuerdo), I disagree (No estoy de acuerdo)
Yes (Sí), No (No)
Never (Nunca), Sometimes (a veces), Often (con frecuencia), Always (siempre)

-->
