{% ifequal a.text 'a lot'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">A lot</a>
{% endifequal %}
{% ifequal a.text 'some'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Some</a>
{% endifequal %}
{% ifequal a.text 'few'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">A few</a>
{% endifequal %}
{% ifequal a.text 'none'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">None</a>
{% endifequal %}
{% ifequal a.text 'true'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">True</a>
{% endifequal %}
{% ifequal a.text 'false'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">False</a>
{% endifequal %}
{% ifequal a.text 'not sure'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">I'm not sure</a>
{% endifequal %}
{% ifequal a.text 'agree'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">I agree</a>
{% endifequal %}
{% ifequal a.text 'neutral not sure'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">I'm not sure</a>
{% endifequal %}
{% ifequal a.text 'disagree'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">I disagree</a>
{% endifequal %}
{% ifequal a.text 'yes'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton green">Yes</a>
{% endifequal %}
{% ifequal a.text 'no'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton red">No</a>
{% endifequal %}
{% ifequal a.text 'never'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Never</a>
{% endifequal %}
{% ifequal a.text 'sometimes'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Sometimes</a>
{% endifequal %}
{% ifequal a.text 'often'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Often</a>
{% endifequal %}
{% ifequal a.text 'always'%}
	<a href="#"  id ="answer_{{a.id}}" class="contentbutton">Always</a>
{% endifequal %}

<!--
<div>
({{a.text}})
</div>
-->
