<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	
	
	<title>mySmileBuddy</title>
	
	<link type="image/png" rel="apple-touch-icon" href="/collection_tool/media/images/mysmilebuddy_icon.png" />
	<link type="text/css" rel="stylesheet" href="/collection_tool/media/css/collection_tool.css" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />	
	<meta name="viewport" content="width=720, maximum-scale=1.0" />
		
</head>

<body>

<div id="wrapper">

	<div id="masthead">
	
		<h1 id="logo"><a href="#">MySmileBuddy</a></h1>
		
		<div id="mastheadnav">
			<a href="#">Cambiar a Espa&#241;ol</a>
			<a href="#">End This Visit</a>
			<a href="#">Library</a>
			<a href="#">About</a>
		</div>
		
	</div>

	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab introductiontabactive" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
	

	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="assessmenttabactive" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
	

	<div id="assessmentnav">
		<a class="firsttab activetab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="activetab" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="activetab" href="#">Family History</a>
		<a class="lasttab" href="#">Fluoride</a>
	</div>
	
	<div id="assessmentnav">
		<a class="firsttab" href="#">Diet</a>
		<a class="" href="#">Feeding Practices</a>
		<a class="" href="#">Family History</a>
		<a class="lasttab activetab" href="#">Fluoride</a>
	</div>
	
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="risktabactive" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>

	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="#">Introduction</a>
		<a id="assessmenttab" class="" href="#">Assessment</a>
		<a id="risktab" class="" href="#">Risk</a>
		<a id="planningtab" class="mainlasttab planningtabactive" href="#">Planning</a>
	</div>
	
	<div id="planningnav">
		<a class="firsttab activetab" href="#">Link</a>
		<a class="lasttab" href="#">Link</a>
	</div>

	<div id="planningnav">
		<a class="firsttab" href="#">Link</a>
		<a class="lasttab activetab" href="#">Link</a>
	</div>
	
	<div id="contentcontainer">
	
		<div id="contentnav">
		
			<a id="left" href="#">&#8592; Back</a>
			
			<a id="help" href="#">Help</a>
		
			<a id="right" href="#">Next &#8594;</a>
		
		</div>
		
		<h2 id="contenttitle">
		
			Title
		
		</h2>
		
		<h3 id="contentsubtitle">
		
			Subtitle
		
		</h3>
		
		<div id="content">
		
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat volutpat lacus a pulvinar. Maecenas magna tellus, adipiscing quis blandit ut, congue bibendum lectus. Aliquam euismod elementum nunc; id dapibus orci congue et. Ut non lorem enim. Ut pretium libero sit amet turpis ullamcorper tempor. Maecenas sed risus augue. Fusce tincidunt enim vel metus lacinia euismod? Proin dui tellus; commodo at porta in; fermentum non turpis. Aliquam neque magna, faucibus sit amet luctus ut, luctus aliquam turpis. Donec adipiscing mi at ipsum ultricies blandit. Aliquam euismod mattis euismod. Duis aliquam sollicitudin quam at rutrum. Ut purus neque, dignissim ac semper vitae, condimentum vitae lectus. Praesent eleifend aliquet elit. Donec ultricies; justo ut venenatis elementum, quam massa euismod magna, ac imperdiet elit risus ut sapien.
			</p>
			
			<div class="contentbuttons">
			
				<a href="#" class="contentbutton contentbuttoncomplete">Question 1</a>
				
				<a href="#" class="contentbutton">Question 2</a>
					
				<a href="#" class="contentbutton">Question 3</a>
				
			</div>
			
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat volutpat lacus a pulvinar. Maecenas magna tellus, adipiscing quis blandit ut, congue bibendum lectus. Aliquam euismod elementum nunc; id dapibus orci congue et. Ut non lorem enim. Ut pretium libero sit amet turpis ullamcorper tempor. Maecenas sed risus augue. Fusce tincidunt enim vel metus lacinia euismod? Proin dui tellus; commodo at porta in; fermentum non turpis. Aliquam neque magna, faucibus sit amet luctus ut, luctus aliquam turpis. Donec adipiscing mi at ipsum ultricies blandit. Aliquam euismod mattis euismod. Duis aliquam sollicitudin quam at rutrum. Ut purus neque, dignissim ac semper vitae, condimentum vitae lectus. Praesent eleifend aliquet elit. Donec ultricies; justo ut venenatis elementum, quam massa euismod magna, ac imperdiet elit risus ut sapien.
			</p>
			
			<form action="#" method="post">
			
			<div class="formbuttons">
					
				<input class="formbutton green" type="button" value="Add" /> 
				
				<br /> 
					
				<input class="formbutton red" type="button" value="Cancel" /> 
			
			</div>
			
			</form>
	
				
			
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat volutpat lacus a pulvinar. Maecenas magna tellus, adipiscing quis blandit ut, congue bibendum lectus. Aliquam euismod elementum nunc; id dapibus orci congue et. Ut non lorem enim. Ut pretium libero sit amet turpis ullamcorper tempor. Maecenas sed risus augue. Fusce tincidunt enim vel metus lacinia euismod? Proin dui tellus; commodo at porta in; fermentum non turpis. Aliquam neque magna, faucibus sit amet luctus ut, luctus aliquam turpis. Donec adipiscing mi at ipsum ultricies blandit. Aliquam euismod mattis euismod. Duis aliquam sollicitudin quam at rutrum. Ut purus neque, dignissim ac semper vitae, condimentum vitae lectus. Praesent eleifend aliquet elit. Donec ultricies; justo ut venenatis elementum, quam massa euismod magna, ac imperdiet elit risus ut sapien.
				</p>
				
				<div class="photowrapper">
					<div class="photo"></div>
				</div>
				
				<p>
				Phasellus rutrum nunc ac ligula faucibus viverra. Integer posuere velit nec metus adipiscing convallis. Fusce a ultricies ligula. Integer venenatis nisl euismod erat elementum posuere? Proin pharetra, est eget vulputate condimentum, libero nisl sollicitudin nunc, vitae fermentum nulla eros auctor mauris. Pellentesque mauris diam, venenatis eu fringilla ut, fermentum at ligula! Nam enim augue, varius ut sodales id, imperdiet id lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque bibendum, ligula ac lobortis mattis, tellus enim mollis lacus, non luctus orci nibh eget tellus. Praesent vel tincidunt urna. Ut commodo, risus in convallis ultricies, lectus libero vestibulum odio, et fermentum turpis libero et justo. Suspendisse scelerisque neque id arcu interdum congue! Phasellus nec nibh odio. Cras id ante est.
				</p>
				
				<!-- fallback to HTML5 video playback Mobile Safari / Chrome / iPhone video /iPad FIREFOX UNSUPPORTED -->
				<div class="videowrapper">
				<video width="670" height="380" poster="http://ccnmtl.columbia.edu/broadcast/posters/vidthumb_480x272.jpg" src="http://ccnmtl.columbia.edu/broadcast/test/fallpremiere.mp4" type="video/mov" controls="controls">				
				</div>
				
				<p>
				Mauris iaculis imperdiet lorem, sed mattis eros pharetra id. In pellentesque pharetra tellus non consectetur. Curabitur urna arcu, tempor in convallis in; eleifend volutpat neque. Quisque vitae tellus nisl, sed iaculis lorem. Nulla in leo metus. Suspendisse placerat ipsum et eros pharetra euismod. Nam quis nunc quis dui adipiscing mattis. Donec cursus volutpat nunc; eu tempor odio fermentum non! Nunc semper, odio vitae vulputate porta; lacus orci eleifend purus, nec congue felis tellus id dui. Aliquam erat volutpat.
				</p>
				
				<!-- start -->
				<div id="planner">
				
					<div id="plannerright">
					
						<div class="photobox">
						
							<div class="photoboxlabel">
							Food
							</div>
							
							<div class="photoboxcontainer">
							
								<div class="thumbnail thumbnailselected">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
							
								<div class="thumbnail thumbnailselected">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
							</div>
							<br clear="all" />
							
						</div>
						
						
						<div class="photobox">
							
							<div class="photoboxlabel">
							Beverage
							</div>
							
							<div class="photoboxcontainer">
							
								<div class="thumbnail">
									<a href="#" class="thumbnailimage selected"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
							
								<div class="thumbnail thumbnailselected">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
							</div>
							<br clear="all" />

						</div>
						
						
						
					</div>
				
				
					<div id="plannerleft">
					
						<table id="timetable" cellspacing="0">
						
						<tr>
						<td class="time">7:00AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">7:30AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">8:00AM</td>
						<td class="activity filled"></td>
						</tr>
						
						<tr>
						<td class="time">8:30AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">9:00AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">9:30AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">10:00AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">10:30AM</td>
						<td class="activity filled"></td>
						</tr>
						
						<tr>
						<td class="time">11:00AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">11:30AM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">12:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">12:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">1:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">1:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">2:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">2:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">2:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">2:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">3:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">3:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">4:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">4:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">5:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">5:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">6:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">6:30PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">7:00PM</td>
						<td class="activity"></td>
						</tr>
						
						<tr>
						<td class="time">7:30PM</td>
						<td class="activity"></td>
						</tr>
						
						</table>
					
					</div>
					
					<form action="#" method="post">
					
					<div class="formbuttons">
							
						<input class="formbutton green" type="button" value="Done" /> 
						
						<br /> 
							
						<input class="formbutton red" type="button" value="Cancel" /> 

					</div>
					
					</form>
			
				</div>
				<br clear="all" />
				<!-- stop -->
				
				<p>
				Phasellus rutrum nunc ac ligula faucibus viverra. Integer posuere velit nec metus adipiscing convallis. Fusce a ultricies ligula. Integer venenatis nisl euismod erat elementum posuere? Proin pharetra, est eget vulputate condimentum, libero nisl sollicitudin nunc, vitae fermentum nulla eros auctor mauris. Pellentesque mauris diam, venenatis eu fringilla ut, fermentum at ligula! Nam enim augue, varius ut sodales id, imperdiet id lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque bibendum, ligula ac lobortis mattis, tellus enim mollis lacus, non luctus orci nibh eget tellus. Praesent vel tincidunt urna. Ut commodo, risus in convallis ultricies, lectus libero vestibulum odio, et fermentum turpis libero et justo. Suspendisse scelerisque neque id arcu interdum congue! Phasellus nec nibh odio. Cras id ante est.
				</p>
				
				<p>
				Mauris iaculis imperdiet lorem, sed mattis eros pharetra id. In pellentesque pharetra tellus non consectetur. Curabitur urna arcu, tempor in convallis in; eleifend volutpat neque. Quisque vitae tellus nisl, sed iaculis lorem. Nulla in leo metus. Suspendisse placerat ipsum et eros pharetra euismod. Nam quis nunc quis dui adipiscing mattis. Donec cursus volutpat nunc; eu tempor odio fermentum non! Nunc semper, odio vitae vulputate porta; lacus orci eleifend purus, nec congue felis tellus id dui. Aliquam erat volutpat.
				</p>
				
				<div class="photobox">
						
							<div class="photoboxlabel">
							Food
							</div>
							
							<div class="photoboxcontainer">
							
								<div class="thumbnail thumbnailselected">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
							
								<div class="thumbnail thumbnailselected">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
								<div class="thumbnail">
									<a href="#" class="thumbnailimage"><img alt="" src="http://dummyimage.com/100x100" /></a>
									<span class="thumbnaillabel">Label</span>
								</div>
								
								
							</div>
							<br clear="all" />
							
						</div>
	
			
	

		</div>
	
	</div>
	
</div>

</body>

</html>
