{% extends "collection_tool/base.html" %}

{%load smartif%}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/topics.js" type="text/javascript"></script>
{% endblock collection_tool_js %}


{% block mainnav %}
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="/collection_tool/introduction/">Introduction</a>
		<a id="assessmenttab" class="" href="/collection_tool/">Assessment</a>
		<a id="risktab" class="risktabactive" href="/collection_tool/risk/language/en/">Risk</a>
		<a id="planningtab" class="mainlasttab" href="#">Planning</a>
	</div>
{% endblock %}

{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/question/{{displayquestion.id}}/language/es/">Espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/question/{{displayquestion.id}}/language/en/">English</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}
		<div id ="language_code_div">{{language_code}}</div>
    <div>
      Details re:
    </div>
    <div>    
        {{ topic }}
    </div>
		
    
</div>

{% endblock collection_tool_content %}
