{% extends "collection_tool/base.html" %}

{%load smartif%}

{% block collection_tool_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/risk_and_topics.js" type="text/javascript"></script>
<script src="/collection_tool/media/js/topics.js" type="text/javascript"></script>
{% endblock collection_tool_js %}


{% block mainnav %}
	<div id="mainnav">
		<a id="introductiontab" class="mainfirsttab" href="/collection_tool/introduction/">Introduction</a>
		<a id="assessmenttab" class="" href="/collection_tool">Assessment</a>
		<a id="risktab" class="risktabactive" href="/collection_tool/risk/language/en">Risk</a>
		<a id="planningtab" class="mainlasttab" href="/collection_tool/goals/language/en">Planning</a>
	</div>
{% endblock %}


{% block language_toggle %}
	{%ifequal language_code 'en'%}
		<a href="/collection_tool/topics/language/es">espa&#241;ol</a>
	{%endifequal%}
				
	{%ifequal language_code 'es'%}
		<a href="/collection_tool/topics/language/en">english</a>
	{%endifequal%}
{% endblock %}

{% block collection_tool_content %}
		<div id="contentnav">
			  <a id="left" href="/collection_tool/risk/language/en">&#8592; Back</a>
		</div>
		<div id ="language_code_div">{{language_code}}</div>
		<div align="center">
		
			<h2>
			Let's put these fires out!
			</h2>    
			
			<img src="/collection_tool/media/images/topics_graphic.png" />
			
			
			{% for t in all_topics%} 
			    <div class="firebutton" topic_id = "{{t.id}}" >
			    {%ifequal language_code 'en'%}
		        {{t.english_title}}
		      {%endifequal%}
				
	        {%ifequal language_code 'es'%}
		        {{t.spanish_title}}
		      {%endifequal%}
			
				    <div class="firebuttonicon"></div>
				      {%ifequal language_code 'en'%}
				        <div class="indexpageicon"><a href="/collection_tool/section/3/language/en">?</a></div>
		          {%endifequal%}
				      {%ifequal language_code 'es'%}
				        <div class="indexpageicon"><a href="/collection_tool/section/3/language/es">?</a></div>
		          {%endifequal%}
			    </div>
			{% endfor %}

			{% for t in all_topics%}
			<div class ="topic_div topic_{{t.id}}" id="topicbox">
			
				<h3>
				{{t}}:
				</h3>
				
				<ol>
				{% for g in t.goal_set.all %}
				<li class="goal_div">
					{{g.english_title}}
					<div class="goal_div_learn">
					<a href = "/collection_tool/goal/{{g.id}}/language/en">Learn</a>
					</div>
					
					<div class="goal_div_plan">
					{% if g.show_in_planner %}
					  <a href = "/collection_tool/planner/goal/{{g.id}}/language/{{language_code}}">Plan (planner)</a>
					{%else %}
					  <a href = "/collection_tool/goal/{{g.id}}/language/{{language_code}}">Plan (form)</a>
					{%endif%}
					</div>
				
				</li>
				{%endfor%}    
				</ol>
			</div>
			{% endfor %}
			
		</div>
	
</div>

{% endblock collection_tool_content %}
