{% extends "family_info/base.html" %}
{% load family_info_template_tags %}


{%load smartif%}

{% block family_info_js %}

{% endblock family_info_js %}

{% block family_info_content %}

	<h2 id="contenttitle">
		{% if family %}
		Family #{{family.study_id_number}}
		{%else %}
		New Family
		{%endif %}		
	</h2>

	<p>{% if error_message %}<span class="success_message">{{ error_message }}</span>{% endif %}</p>
	
	<div id="contentnav">
		<a id="left" href = "/family_info/families/">&larr; Back</a>
	</div>

	{% if family %}
	<form id="edit_family" action="/family_info/edit_family/{{family.id}}/" method="post">
	{% else %}
	<form id="add_family" action="/family_info/insert_family/" method="post">
	{% endif %}   
      <fieldset>
      
	<legend>
	Family Details
	</legend>
	
      <fieldset>
	<legend>
	Study Information
	</legend>
	
	<table class="editdetails">
	
		<tr>
			<th>Study ID Number</th>
			<td><input type="text"  name="study_id_number"  value="{{family.study_id_number}}" /></td>
		</tr>

		<tr>
			<th valign="top">Set of Questions to Ask</th>
			<td>
			
				{% if not family.config_locked %}
				  <select name = "config_id">
				  {% for config in equation_balancer_configs %}
				  <option value = "{{config.id}}"
				  {%ifequal family.config.id config.id %}selected{%endifequal%}
				  >{{config.name}}</option>
				  {% endfor %}
				  </select>
				{% else %}
				  {{family.config.name}}
				{% endif %}
				
				<br />
				<br />
				
				<span class="prompt">(After you visit the family and start recording answers, you can no longer change the set of weights.)</span>

			</td>
		</tr>
		
		<!--
		<tr>
		<td>Family's last name:</td>
		<td><input type="text" name="family_last_name" value="{{family.family_last_name}}" /></td>
		</tr>
		
		<tr>
		<td>Child's last name:</td>
		<td><input type="text"  name="child_last_name" value="{{family.child_last_name}}" /></td>
		</tr>
		
		<tr>
		<td>Child's first name:</td>
		<td><input type="text"  name="child_first_name" value="{{family.child_first_name}}" /></td>
		</tr>
		-->
		
		
		<tr>
			<th>Child's Approximate Year of Birth</th>
			<td><input type="text" name="child_year_of_birth" 
			{%if family.child_year_of_birth%}
			  value="{{family.child_year_of_birth}}" 
			{%endif%}
			/></td>
		</tr>
	</table>
	
      </fieldset>
      <fieldset>
	<legend>
	Demographic Information
	</legend>
		
	<table class="editdetails">
		
		<tr>
		<th>Race or Ethnicity of Child</th>
				  <td>
          <select name = "race_ethnicity">
            {% for r_e_choice_k, r_e_choice_v in r_e_choices %}
                <option value = "{{r_e_choice_k}}"
                {%if family.race_ethnicity == r_e_choice_k%} selected {%endif%}
                >{{r_e_choice_v}}</option>
            {% endfor %}
          </select>
      </td>
		</tr>

		<tr>
		<th>Was the mother born in the USA?</th>
		<td>
        <input type="radio" name="mother_born_in_us" value="True"  {% if family.mother_born_in_us %}checked{%endif %}>Yes
        <input type="radio" name="mother_born_in_us" value="False" {% if not family.mother_born_in_us%}checked{%endif %}> No
      </td>
		</tr>

		<tr>
		<th>Did any child in the household receive food stamps in the past year?</th>
		  <td>
          <input type="radio" name="food_stamps_in_last_year" value="True"  {% if family.food_stamps_in_last_year %}checked{%endif %}>Yes
          <input type="radio" name="food_stamps_in_last_year" value="False" {% if not family.food_stamps_in_last_year%}checked{%endif %}> No
      </td>
		</tr>
		
		<tr>
		<th>Mother's highest level of education</th>
		<td>
          <select name = "highest_level_of_parent_education">
            {% for e_l_choice_k, e_l_choice_v in e_l_choices %}
                <option value = "{{e_l_choice_k}}"
                {%if family.highest_level_of_parent_education == e_l_choice_k%} selected {%endif%}
                >{{e_l_choice_v}}</option>
            {% endfor %}
          </select>
      </td>
		
		</tr>
		
		<tr>
        <td  colspan = "2" align="center">
          </td>
        </tr>
        
	</table>
	
      </fieldset>
      <div align="center" style="padding: 20px;">
            <input type="submit"
              value="{{ family|yesno:"Save Changes,Save"}}"
             /></div>
      </fieldset>
	</form>	
      
      
      <fieldset>
      
	<legend>
	 Summary
	</legend>
		
	<table class="interviewdetails" cellspacing="0">


		{%if family.latest_answers.keys|length%}
		<tr>
			<td ></td>
			<td class="label">Percent complete:</td>
			<td>About {{family.percent_complete|floatformat:0 }} %</td>
		</tr>
    {%endif %}
		{%if family.risk_score%}
		<tr>
			<td>&nbsp;</td>
			<td class="label">Risk score:</td>
			<td >{{family.risk_score|floatformat:0}} (1 is low-risk, 10 is high-risk)</td>
		</tr>
		{%endif %}
		
		<tr>
			<td>&nbsp;</td>
			<td class="label">Questions answered:</td>
			<td >{{family.latest_answers.keys|length}}</td>
		</tr>
		{%if family%}
    {% get_goal_info_1 of_family family.id as goal %}
    {% if goal%}
		  <tr>
			  <td>&nbsp;</td>
			  <td class="label">Goal 1:</td>
			  <td >{{goal.goal.english_title}}</td>
		  </tr>
		{%endif%}
    {% get_goal_info_2 of_family family.id as goal %}
    {% if goal%}
		<tr>
			<td>&nbsp;</td>
			<td class="label">Goal 2:</td>
			<td >{{goal.goal.english_title}}</td>
		</tr>
		{%endif%}
    {% get_goal_info_3 of_family family.id as goal %}
    {% if goal%}
		<tr>
			<td>&nbsp;</td>
			<td class="label">Goal 3:</td>
			<td >{{goal.goal.english_title}}</td>
		</tr>
		{%endif%}
	{%endif%}

      </table>
		<td>
</fieldset>
    
      
<fieldset>
      
	<legend>
	Family Visits
	</legend>
		
	<table class="interviewdetails" cellspacing="0">
	  {% for v in family.all_visits reversed %}
		  {% if v.response_set.all %}
		        <tr class="{%if v.is_happening %}family_page_visit_open{%endif %}">
			        <td class="toggle"><a name = "visit_{{v.id}}">&darr;</a></td>
			        <td class="label">{{v.start_timestamp|date:"D d M Y" }}</td>
			        <td>{{v.interviewer.first_name}} {{v.interviewer.last_name}}</td>
		        </tr>
		
		        <tr>
			        <td>&nbsp;</td>
			        <td class="label">Questions answered:</td>
			        <td>{{v.response_set.count}}</td>
		        </tr>
		        {%for r in v.response_set.all %}
		
		          <tr class="response_to_question {{r.question_id}}">
			          <td>&nbsp;</td>
			          <td class="label">{{r.question_english}}</td>
			          <td class= "response_answer {{r.answer_id}}" >{{r.answer_english}}</td>
		          </tr>
		        {%endfor %}
		  {%else %}
		      <!-- no responses... not showing visit {{v.id}} -->
		  {% endif %}
	{% endfor %}		  
	</table>
	
      </fieldset>
{% endblock family_info_content %}
