{% extends "family_info/base.html" %}
{%load smartif%}


{% block collection_tool_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>
{% endblock collection_tool_js %}
{% block collection_tool_content %}
		<h2 id="contenttitle">
			{% if family %}
  			Family #{{family.study_id_number}}
	    {%else %}
	      New Family
	    {%endif %}		
		</h2>
		
		
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div>
      <a href = "/family_info/families">Back to list of families </a>
    </div>
    
    
		<table>

    {% if family %}
        <form id="edit_family" action="/family_info/edit_family/{{family.id}}" method="post">
    {% else %}
        <form id="add_family" action="/family_info/insert_family" method="post">
      {% endif %}   
      
		  <tr>
		  <td>Study ID number:</td>
		  <td><input type="text"  name="study_id_number"  value="{{family.study_id_number}}" /></td>
		  </tr>


      <tr>
        <td>Set of weights used:</td>
          <td>
     {% if not family %}
          <select name = "config_id">
            {% for config in equation_balancer_configs %}
                <option value = "{{config.id}}"
                >{{config.name}}</option>
            {% endfor %}
          </select>
    {% else %}
          {{family.config.name}}
    {% endif %}

          </td>
      </tr>
      <tr>
        <td colspan = "2">(This cannot be changed once the family is created.)</td>
      </tr>
      
      
		<!--
		<tr>
		<td>Family's last name:</td>
		<td><input type="text" name="family_last_name" value="{{family.family_last_name}}" /></td>
		</tr>
		
		<tr>
		<td>Child's last name:</td>
		<td><input type="text"  name="child_last_name" value="{{family.child_last_name}}" /></td>
		</tr>
		
		<tr>
		<td>Child's first name:</td>
		<td><input type="text"  name="child_first_name" value="{{family.child_first_name}}" /></td>
		</tr>
		-->
		
		
		<tr>
		<td>Child's approximate year of birth:</td>
		<td><input type="text"   name="child_year_of_birth" value="{{family.child_year_of_birth}}" /></td>
		</tr>



    {% if family %}
      <tr>
        <td>Status:</td>
          <td>
            <input type="radio" name="active" value="True"  {% if family.active %}checked{%endif %}>Active
            <input type="radio" name="active" value="False" {% if not family.active%}checked{%endif %}> Inactive
          </td>
      </tr>
      <tr>
        <td colspan = "2">(Set this to "inactive" to "delete" a family.)</td>
      </tr>
      
      {% endif %}
		
  
		</table>
		
		<h3>
		Demographic Data
		</h3>
		
		<table>
		
		<tr>
		<td>Race or Ethnicity of child:</td>
				  <td>
          <select name = "race_ethnicity">
            {% for r_e_choice_k, r_e_choice_v in r_e_choices %}
                <option value = "{{r_e_choice_k}}"
                {%if family.race_ethnicity == r_e_choice_k%} selected {%endif%}
                >{{r_e_choice_v}}</option>
            {% endfor %}
          </select>
      </td>
		</tr>
		
		
		<tr>
		<td>Was the mother born in the USA?</td>
		<td>
        <input type="radio" name="mother_born_in_us" value="True"  {% if family.mother_born_in_us %}checked{%endif %}>Yes
        <input type="radio" name="mother_born_in_us" value="False" {% if not family.mother_born_in_us%}checked{%endif %}> No
      </td>
		</tr>

		<tr>
		<td>Did the family use food stamps in the past year?</td>
		  <td>
          <input type="radio" name="food_stamps_in_last_year" value="True"  {% if family.food_stamps_in_last_year %}checked{%endif %}>Yes
          <input type="radio" name="food_stamps_in_last_year" value="False" {% if not family.food_stamps_in_last_year%}checked{%endif %}> No
      </td>
		</tr>
		
		<tr>
		<td>Highest level of parent education:</td>
		<td>
          <select name = "highest_level_of_parent_education">
            {% for e_l_choice_k, e_l_choice_v in e_l_choices %}
                <option value = "{{e_l_choice_k}}"
                {%if family.highest_level_of_parent_education == e_l_choice_k%} selected {%endif%}
                >{{e_l_choice_v}}</option>
            {% endfor %}
          </select>
      </td>
		
		</tr>
		
		<tr>
        <td  colspan = "2" align="center">
            <input type="submit"
              value="{{ family|yesno:"Save Changes,Save"}}"
             />
          </td>
        </tr>	
        </form>	  
		</table>
		
		
		<h3>
  		Record of visits:
		</h3>
		
		<table>
		  <tr>
		  <th>Date</th>
		  <th>Interviewer</th>
		  </tr>
		  <tr>
		  <td>Date</td>
		  <td>interviewer</td>
		  </tr>
		  <tr>
		  <td>Date</td>
		  <td>interviewer</td>
		  </tr>
		  
		</table>

{% endblock collection_tool_content %}
