{% extends "family_info/base.html" %}
{%load smartif%}

	
		{% block family_info_content %}
		<h2 id="contenttitle">
		
			Health Worker Information
		
		</h2>
		
	<p>{% if error_message %}<span class="success_message">{{ error_message }}</span>{% endif %}</p>
    
	<div id="contentnav">
		<a id="left" href = "/family_info/families/">&larr; Back</a>
	</div>
		
		
    {% if the_user %}
        <form id="edit_user" action="/family_info/edit_user/{{the_user.id}}/" method="post">
    {% else %}
        <form id="add_user" action="/family_info/insert_user/" method="post">
      {% endif %}   

      <fieldset>
      
	<legend>
	Worker Profile
	</legend>

		<!--TODO add active / inactive -->
		<table class="editdetails">
		
		
		<tr>
		<th>First Name</th>
		<td><input type="text" name="first_name" value="{{the_user.first_name}}" /></td>
		</tr>
		
		<tr>
		<th>Last Name</th>
		<td><input type="text" name="last_name" value="{{the_user.last_name}}" /></td>
		</tr>
		
		<tr>
		<th>User Name</th>
		<td><input type="text" name="username" value="{{the_user.username}}" /></td>
		</tr>
		
		<tr>
		<th>Password</th>
		<td><input type="password"  name="password" value =""></input></td>
		</tr>
		
		<tr>
		<th>Re-Type Password</th>
		<td><input type="password" name="password_2" value = ""></input></td>
		</tr>
		
		<tr>
		<th></th>
		<td><span class="prompt">(To keep existing password, just leave blank.)</span></td>
		</tr>
		
		<tr>
        <td  colspan = "2" class="action">
        <br /><br />
            <input type="submit"
              value="{{ the_user|yesno:"Save Changes,Save"}}"
             />
         </td>
    </tr>	
    <tr>
		<td colspan="2">
		<!--
		<input type="button" value="Save" onclick="parent.location='http://kodos.ccnmtl.columbia.edu:2010/collection_tool/interview_management_participants'">
		-->
		
		</td>
		</tr>
		
		</table>
			</fieldset>
			</form>
			
{% endblock family_info_content %}


