{% extends "family_info/base.html" %}
{%load smartif%}

{% block html_element %}
<html manifest="{%url collection_tool.views.manifest %}">
{% endblock html_element %}


  {% block early_js %}
  {% endblock early_js %}

{% block family_info_nav %}
  <a href="/logout">Log Out</a>
  <a href="/library/">Library</a>
  <a href="/about/">About</a>
  <a id = "interview_link" href="">Interview</a>
{% endblock %}  


{% block family_info_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/progressbar.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/family_info/media/js/cache.js" type="text/javascript"></script>
<script src="/family_info/media/js/dashboard.js" type="text/javascript"></script>
{% endblock family_info_js %}

{% block family_info_content %}

<h2 id="contenttitle">
	Dashboard
</h2>

<div id = "guidance_1" class="guidance"></div>

<div id="start_visit_links">
</div>

<p id="downloading">
This device is currently storing the interview questions you need, along with their associated images. That way, you can conduct the interview even if there is no Internet access. This can take a few minutes, depending on the speed of your connection.
</p>


<div align="center">

	<div id="download" class="download_status_image_div">
	  <img src="/collection_tool/media/images/downloading_inprogress.png" />
	</div>
	<div id="upload" class="download_status_image_div">
	  <img src="/collection_tool/media/images/downloading_successful.png" />
	</div>
	<div id="error" class="download_status_image_div">
	  <img src="/collection_tool/media/images/downloading_unsuccessful.png" />
	</div>

	<div id="progressbar" ></div>


<div id = "guidance_2" class="guidance" style="color: red; font-weight: bold; margin-top: 20px;">
</div>

<br />

<form action="/family_info/end_interview/" method="post" class="end_interview_form" >

	<span id="end_interview_inputs"></span>
	<input id="main_end_button" type="submit" value ="Check all families back in and end visit" />

</form>

<textarea id="debug_cache_status" rows="10" cols="80" ></textarea>

</div>
    
<script language = "javascript">
  //alert ('prea1');
	if (typeof($) == "undefined") {	
	  alert ("Error: unable to load jQuery.");
	  document.getElementById('downloading').style.display = 'none';
	  document.getElementById('debug_cache_status').style.display = 'none';
	}
</script>

{% endblock family_info_content %}



