{% extends "family_info/base.html" %}
{%load smartif%}



{% block family_info_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/wrap_up_interview.js" type="text/javascript"></script>
{% endblock family_info_js %}

{% block family_info_content %}

		<h2 id="contenttitle">
			Interview wrapup
		</h2>
		
		<p> Here are the question and answer ID's you collected during the interview: </p>

    <form id="responses_form">
		    
		    
    <form>		
{% endblock family_info_content %}



