{% extends "family_info/base.html" %}
{%load smartif%}


{% block collection_tool_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>

{% endblock collection_tool_js %}

{% block collection_tool_content %}

<h2 id="contenttitle">
		
	Family Assessment
		
</h2>
		
<h3>Assessment Data</h3>
			
<table>
<tr>
<th>Data Field</th>
<td>Data</td>
<td>Data</td>
<td>Data</td>
</tr>
<tr>
<th>Data Field</th>
<td>Data</td>
<td>Data</td>
<td>Data</td>
</tr>
<tr>
<th>Data Field</th>
<td>Data</td>
<td>Data</td>
<td>Data</td>
</tr>
</table>

<h3>Goal: 6/17/10</h3>

<p>dsaafd</p>

<h3>Goal: 6/17/10</h3>

<p>dsaafd</p>

<h3>Goal: 6/17/10</h3>

<p>dsaafd</p>

<h3>Goal: 6/17/10</h3>

<p>dsaafd</p>

<form action="#">
<input type="button" value="Back to Participants" onclick="parent.location='http://kodos.ccnmtl.columbia.edu:2010/collection_tool/interview_management_participants'">
</form>

{% endblock collection_tool_content %}
