{% extends "family_info/base.html" %}
{%load smartif%}
{% block family_info_content %}
<fieldset>

	<legend>All Families</legend>
		<table class="users">
									
		        <tr>
			        <td colspan = "3" class="error_message" id = "error_message">{{error_message}}</td>
		        </tr>
		      {% if just_finished_visit %}
		        <tr style="display:none">
              <!-- this is used for Ethan's selenium tests. -->
		          <td colspan="3"><span id="just_finished_visit">{{just_finished_visit.pk}}</span></td>
		        </tr>
	          <tr >
		          <td class = "interview_done" colspan="3"> Visit #{{just_finished_visit.pk}} finished; 
		          {{just_finished_visit.response_set.all|length}} response{{ just_finished_visit.response_set.all|length|pluralize}}
		          {{just_finished_visit.response_set.all|length|pluralize:"was,were"}} recorded.</td>
		        </tr>
	          <script language ="javascript" >  
	            localStorage.clear();
	          </script>
		      {% endif %}
			
          {%if user.current_visit%}
		          <tr>
			          <td >
                 <div id="resume_button_div">
                 <!-- This takes you to the dashboard for your current interview. -->
                 <a id="resume_button" href ="/family_info/dashboard/" class = "green_button"> Resume your visit with famil{{ user.current_visit.families.all|length|pluralize:"y,ies" }} {%for f in user.current_visit.families.all%}
                 {% if     forloop.last and not forloop.first %}and{%endif%}
                 {% if not forloop.last and not forloop.first %},{%endif%}
                 {{f.study_id_number}}
                 {%endfor%}</a>
                </div>
                 </td>
			          
			          <td></td>
			          <td></td>
			          </tr>
			      <script language ="javascript" >  
			      // If my user does have an interview going, but I don't have anything in local storage pertaining to it, then assume it's because it's on another machine. That interview needs to end  before I start a new one.
			      
          if ( !local_storage_has_data (LOCAL_STORAGE_KEY)) {
              family_string = 'famil{{ user.current_visit.families.all|length|pluralize:"y,ies" }} {%for f in user.current_visit.families.all%}{% if     forloop.last and not forloop.first %} and {%endif%}{% if not forloop.last and not forloop.first %}, {%endif%}{{f.study_id_number}}{%endfor%}'
              var explanation = 'You are currently visiting ' + family_string + '  using another machine. Please finish that visit before starting a new one.'
              //$('#resume_button_div').html( explanation);
              document.getElementById('error_message').innerHTML = explanation;
              document.getElementById('resume_button_div').innerHTML = '';
          }
	          </script>
          {%endif %}

			    <form action="/family_info/start_interview/" method="post" >
			    
          {%if not user.current_visit%}
              <!-- this is the simplest case: just start an interview: -->
	            <tr>
	              <td class="action" colspan = "3">
	              <div id ="start_interview_div">
	                   <input type="submit" id="main_submit_button" value ="Start Visit" />
	               </div>
	              </td>
	          </tr>
			      <script language ="javascript" >  
	            if (local_storage_has_data (LOCAL_STORAGE_KEY)) {
	              // This should never occur, but just in case, disable any further interviews until we can get to the local storage data.
                document.getElementById('start_interview_div').innerHTML = '';
                document.getElementById('error_message').innerHTML = 'Local storage still has data in it although you have no visit currently stored.';
              } 
	          </script>
			    {%endif %}
	        {%for family in families %}
	              <tr>
	                <td>
                      <span title = "currently being visited by: {{family.interviewer.first_name}} {{family.interviewer.last_name}}">
                      
                      {%if family.interviewer%}
                       <img src ='/family_info/media/images/lock.png' />
                          {% if family.interviewer == user %}
                              (You)
                          {%else %}
                             ({{family.interviewer.first_name}})
                          {%endif %}
                      </span> 
	                    {%else %}
	                      {%if not user.current_visit%}
	                        <input class="familycheckbox" type="checkbox" name="families" value="{{family.id}}" id="family_{{family.id}}">
	                      {%endif%}
	                    {%endif%}
	                </td>
	                <td>Family # {{family.study_id_number}} 
	                </td>
	                <td><a href="/family_info/edit_family/{{family.id}}">Edit Family Details </a>
	                
	                {% if user.is_staff%}
  	                {%if family.in_a_visit %}
	                  <a href="/admin/family_info/visit/{{family.interviewer.current_visit.id}}/">Visit page</a>
	                  {%endif%}
	                {%endif%}                
	                
	                </td>
	              </tr>
	            {%endfor %}
	        </form>
		  <tr>
			<td><a href = "/family_info/new_family" >+ Add a Family</a></td>
			<td></td>
			<td></td>
			</tr>
	        
	</table>
</fieldset>
					
<div>
</div>	
	
<fieldset>
	<legend>Health Workers</legend>
		<table class="users">
			<tr>
			<td><a href="/family_info/new_user" >+ Add a Health Worker</a></td>
			<td></td>
			</tr>
			
			{% for worker in health_workers %}
			<tr>
			<td>{{worker }}</td>
			<td>
			{% if user.is_staff %}
			<a href = "/family_info/edit_user/{{worker.id}}">Edit</a>
      {%else %}
        {% ifequal user worker %}
			    <a href = "/family_info/edit_user/{{worker.id}}">My info</a>
        {% endifequal %}
			{%endif %}

			</td>
			</tr>
			{%endfor%}
		</table>
</fieldset>


{% endblock family_info_content %}
