{% extends "family_info/base.html" %}
{%load smartif%}


{% block collection_tool_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>

{% endblock collection_tool_js %}




	
{% block collection_tool_content %}

		<h2 id="contenttitle">
		
			Family Information
		
		</h2>
		
		<table>
		
		<tr>
		<td>Family's Last Name:</td>
		<td><input type="text" value="Green" /></td>
		</tr>
		
		<tr>
		<td>Child's Last Name:</td>
		<td><input type="text" value="Green" /></td>
		</tr>
		
		<tr>
		<td>Child's First Name:</td>
		<td><input type="text" value="Henry" /></td>
		</tr>
		
		<tr>
		<td>Child's Age:</td>
		<td><input type="text" value="3" /></td>
		</tr>
		
		<tr>
		<td colspan="2"><input type="button" value="Edit" onclick="/family_info/participants'"></td>
		</tr>
		
		</table>
		
		<h3>
		Demographic Data
		</h3>
		
		<table>
		<tr>
		<th>Data Field</th>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		</tr>
		<tr>
		<th>Data Field</th>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		</tr>
		<tr>
		<th>Data Field</th>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		</tr>
		<tr>
		<th>Data Field</th>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		</tr>
		<tr>
		<th>Data Field</th>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		<td>Data</td>
		</tr>
		</table>

{% endblock collection_tool_content %}
