{% extends "family_info/base.html" %}
{%load smartif%}
<!-- this file is NOT cached! -->
{% block html_element %}{% endblock html_element %}

{% block family_info_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/cache.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
{% endblock family_info_js %}

{% block family_info_content %}

<h2 id="contenttitle">
	Local Storage Debug Page
</h2>

<div>

    <div id="contentnav">
    <a id="left" href="/family_info/families/">← Back</a>
    </div>


    <h3>About local storage:
    </h3>
     <div id ="local_storage_help"> 
      <em>Local storage</em> is a temporary storage space on your computer that we use to keep the list of questions in your current visit, the order to ask them in, the family's answers, and information to help us calculate scores for those answers. Only the current visit's answers are stored here.
     </div>

    <div id="local_storage_is_empty">
      Local storage is empty.
    </div>

    <div>
      <a class="scary_button" id = "dashboard_link" href= "/family_info/dashboard/">Go to dashboard and end this visit.</a>
    </div>
    
    <br/>
    <div>
      <a class="scary_button" id = "wipe_link" href= "javascript:wipe_local_storage()">Wipe local storage without ending this visit.</a><br/>
    </div>

    <fieldset>
    <legend>Current Contents of Local Storage </legend>

        <div id = "local_storage_debug">
        </div>
    </fieldset>



    <script language ="javascript">
    ls = window.localStorage
      if (ls [LOCAL_STORAGE_KEY])  {
         document.getElementById('local_storage_is_empty').style.display = 'none';
         document.getElementById('local_storage_debug').innerHTML = ls [LOCAL_STORAGE_KEY];
      }
      else {
         document.getElementById('local_storage_debug').style.display = 'none';
         document.getElementById('wipe_link').style.display = 'none';
         document.getElementById('dashboard_link').style.display = 'none';         
      }
    </script>

  
</div>
{% endblock family_info_content %}



