{% extends "family_info/base.html" %}

{%load smartif%}

{% block collection_tool_js %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript"></script>

{% endblock collection_tool_js %}

{% block collection_tool_content %}
		
		
		<h2 id="contenttitle">
		
			Participants
		
		</h2>


				<form action="#">
					
					<fieldset>
					
						<legend>Families</legend>
					
							<table>
	
	<tr>
	<td>Green Family (Henry)</td>
	<td><input type="submit" value="Check In"></td>
	<td><input type="button" value="Pull Data to iPad" onclick="parent.location='/family_info/sync'"></td>
	<td><input type="button" value="View Answers" onclick="parent.location='/family_info/family_assessment'"></td>
	<td><input type="button" value="Edit" onclick="parent.location='/family_info/family_information'"></td>
	</tr>
	
	<tr>
	<td>Green Family (Henry)</td>
	<td><input type="submit" value="Check In"></td>
	<td><input type="button" value="Pull Data to iPad" onclick="parent.location='/family_info/sync'"></td>
	<td><input type="button" value="View Answers" onclick="parent.location='/family_info/family_assessment'"></td>
	<td><input type="button" value="Edit" onclick="parent.location='/family_info/family_information'"></td>
	</tr>
	
	<tr>
	<td>Green Family (Henry)</td>
	<td><input type="submit" value="Check In"></td>
	<td><input type="button" value="Pull Data to iPad" onclick="parent.location='/family_info/sync'"></td>
	<td><input type="button" value="View Answers" onclick="parent.location='/family_info/family_assessment'"></td>
	<td><input type="button" value="Edit" onclick="parent.location='/family_info/family_information'"></td>
	</tr>

	<tr>
	<td colspan = "5"><input type="button" value="New Family" onclick="parent.location='/family_info/family_assessment''"></td>
	</tr>
	
	</table>
					
					</fieldset>
					
				</form>
			
			
				<form action="#">
					
					<fieldset>
					
						<legend>Health Workers</legend>
					
							<table>
							
							<tr>
							<td>Brown, Tony</td>
							<td><input type="button" value="Edit" onclick="parent.location='/family_info/health_worker_information'"></td>
							</tr>
							
							<tr>
							<td>Brown, Tony</td>
							<td><input type="button" value="Edit" onclick="parent.location='/family_info/health_worker_information'"></td>
							</tr>
							
							<tr>
							<td>Brown, Tony</td>
							<td><input type="button" value="Edit" onclick="parent.location='/family_info/health_worker_information'"></td>
							</tr>
							

	<tr>
	<td colspan = "2"><input type="button" value="New Health Worker"></td>
	</tr>
	

							
							</table>
					
					</fieldset>
					
				</form>
			
			

{% endblock collection_tool_content %}
