{% extends "family_info/base.html" %}
{%load smartif%}
{% block html_element %}{% endblock html_element %}
{% block family_info_content %}

<h2 id="contenttitle">
	List of display questions
</h2>

<div>
<h3><a name = "top">Contents:</a></h3>
{%for dq in display_questions%}
    <a href ="#display_question_{{dq.id}}" >{{dq.id}}: {{dq.english}}</a> {% if not dq.nav_section.id %}*{%endif%} {% if dq.show_planner %}(planner){%endif%}<br/>
{%endfor%}        
</div>
<p>
* Not displayed on the front end because not associated with any navigation section.
</p>
        

<div>
    {%for dq in display_questions%}
    <div>
        <h2><a name ="display_question_{{dq.id}}" >{{dq.id}}: {{dq.english}} {% if not dq.nav_section.id %}(not in navigation){%endif%}</a></h2>
        <a href ="#display_question_{{dq.id}}" >[link]</a>
        <a href ="#top" >[top]</a>
        <br/>
        Display question admin:<br/>
        <a href = "/admin/collection_tool/displayquestion/{{dq.id}}/" >{{dq.english}}</a><br/>
        Question admin:<br/>
        <a href = "/admin/equation_balancer/question/{{dq.question.id}}/" >{{dq.question}}</a><br/>
        Answers:<br/>
        {%for a in dq.answers%}
            &nbsp;&nbsp;&nbsp;{{a}}<br/>
        {%endfor%}
        
        {% if dq.nav_section.id %}
        Nav section:<br/>
            <a href = "/admin/collection_tool/assessmentsection/{{dq.nav_section.id}}/" >{{dq.nav_section}}</a><br/>
        {%endif %}        
        
        
        Module:<br/>
        <a href = "/admin/equation_balancer/module/{{dq.question.module.id}}/" >{{dq.question.module}}</a><br/>
        
        Weight:<br />
        {%for a, b, c, d, e in dq.weight_info%}
        &nbsp;&nbsp;&nbsp;<a href = "/weights/configuration/{{a}} ">{{b}}</a>: {{c|floatformat:"-3"}} x {{d|floatformat:"-3"}} = {{e|floatformat:"-3"}} <br/>
        {%endfor%}
        <br/>
        
        Display regardless of weight:<br />
        {%if dq.display_regardless_of_weight%}
            Yes
        {%else %}
            No
        {%endif%}
        <br/>
        English front-end page:<br/>
        <a href = "/collection_tool/question/{{dq.id}}/language/en/" >{{dq.english}}</a><br/>
        Spanish front-end page:<br/>
        <a href = "/collection_tool/question/{{dq.id}}/language/es/" >{{dq.spanish}}</a><br/>
        Help Item:<br/>
        <a href = "/admin/collection_tool/helpitem/{{dq.help_item.id}}/" >{{dq.help_item.english_title}}</a><br/>
        Topic(s):<br/>
        {%for t in dq.topics.all%}
         &nbsp;&nbsp;&nbsp;<a href = "/admin/collection_tool/topic/{{t.id}}/" >{{t.english_title}}</a><br/>
        {%endfor%}
        Learn More (en):<br/>
        <a href = "{{dq.learn_more_english.url}}" >{{dq.learn_more_english.title}}</a><br/>
        Learn More (es):<br/>
        <a href = "{{dq.learn_more_spanish.url}}" >{{dq.learn_more_spanish.title}}</a><br/>
        Image: <br />
        {% if dq.image %}
            <a href="/uploads/{{dq.image}}" >View</a>
        {%endif%}
        <br/>
        Answers have images:<br/>
        {%if dq.has_answer_pictures%}
            Yes
        {%else %}
            No
        {%endif%}
        <br/>
    </div>
    {%endfor%}
 </div>



{% endblock family_info_content %}



