{% extends "family_info/base.html" %}
{%load smartif%}
<!-- this file is not cached. -->
{% block html_element %}{% endblock html_element %}


{% block family_info_js %}
<script src="/collection_tool/media/js/jquery.js" type="text/javascript"></script>
<script src="/family_info/media/js/cache.js" type="text/javascript"></script>
<script src="/family_info/media/js/localstorage.js" type="text/javascript"></script>
<script src="/family_info/media/js/start_interview.js" type="text/javascript"></script>
{% endblock family_info_js %}

{% block family_info_content %}

<h2 id="contenttitle">
	Families to Visit
</h2>



<div id="list_of_questions"> 
	[
	{% for the_family in families %}
	
	{
		"family_id" : {{the_family.id}},
		"family_study_id_number" : {{the_family.study_id_number}},
		
		
		"previous_visit_questions" :
		{
		{%for q, a in the_family.latest_answers.iteritems %}
		"{{q}}":"{{a}}"
		{% if not forloop.last %},{%endif%}
		
		{%endfor%}
		},
		
		"all_questions" :
		[
		{%for display_question in the_family.config.display_questions %}
		{{display_question.id}}
		{% if not forloop.last %},{%endif%}
		{%endfor%}
		
		],
		
		"first_question_url" : "/collection_tool/question/{{the_family.config.first_display_question.id}}/language/en"
		
	}
	{% if not forloop.last %},{%endif%}
	
	{% endfor %}
	
	]
</div>
		<!--
<div class="learnmore">
<a href="#">Learn More</a>
</div>
-->
<table width="100%" border = "1">
	
	<tr>
		<th>Family ID</th>
		<th>Question List</th> 
		<!--
		<th>Database ID</th> 
	  -->
	</tr>
	
	{% for the_family in families %}
	<tr >
		<td title ="Family {{the_family.study_id_number}} has ID {{ the_family.id }} in the database." >{{the_family.study_id_number}}</td>
		<td>{{ the_family.config }}</td> 
		<!--
		<td>{{ the_family.id }}</td> 
	  -->
	</tr>
	{%endfor %}

</table>

		
<div align="center">
<br />
<br />
<form method="link" action="/family_info/dashboard">
{%if user.current_visit%}
<input type="submit" value="Get materials for visit">
{%endif%}


</form>    
</div>

<script>
	if (typeof($) == "undefined") {
		alert ("Oops. We cannot start the interview right now. Message: Unable to load jQuery.");
	}
</script>

{% endblock family_info_content %}



