<!DOCTYPE html>
{%ifequal 1 1%}
<html manifest="{% url 'collection_tool.views.manifest' %}">
{% else %}
<html>
{%endifequal%}

<head>
	<title>mySmileBuddy</title>
  <script type="text/javascript" src="/site_media/js/smilekit_common.js"></script>
{% block collection_tool_js %}
{% endblock collection_tool_js %}
	<link type="image/png" rel="apple-touch-icon" href="/collection_tool/media/images/mysmilebuddy_icon.png" />
	<meta name="viewport" content="width=720, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no" />

{% block css %}
	<link type="text/css" rel="stylesheet" href="/collection_tool/media/css/collection_tool.css" />
{% endblock %}
		
		
</head>

<body>
<div id="wrapper">
	<div id="masthead">
		<h1 id="logo">MySmileBuddy</h1>
		<div id="mastheadnav">

    
   {% if user.current_visit %}
			    <a id ="log_out_link"    href="javascript:end_visit_before_logout()">Log Out</a>
   {%else %}
          <a id ="log_out_link"    href="/logout">Log Out</a>
   {% endif %}
	 
	 
    <a href="/about/">About</a>
    
    {%ifequal language_code 'en'%}<a href="/library/">Library</a>{%endifequal%}
    {%ifequal language_code 'es'%}<a href="/library_es/">Biblioteca</a>{%endifequal%}
    
    
	 {% block language_toggle %}
			<a href="">Espa&#241;ol</a>
			<a href="">English</a>
     {% endblock %}
			
			
	 	
    
	  {%if user.current_visit%}
	  <a id="interview_link" href="/family_info/dashboard/">Dashboard</a>
    {% endif %}
    
	  {%if user.current_visit%}
			<a id="family_id_nav_display" href="javascript:void();"id ="family_id_nav_display">FamilyID</a>
    {% endif %}
			
		{%if user.username%}
			<a id="user_id_nav_display" href="javascript:void();">Hi, {{user.username}}!</a>
	  {%endif%}
			
			
		</div>
		
	</div>


<div id="mainnav">


	<a id="introductiontab" class="{% block introductiontabactive %}{% endblock %} introductiontab mainfirsttab"
	
	href="/collection_tool/intro/language/{{language_code}}/">{%ifequal language_code 'en'%}Introduction{%endifequal%}{%ifequal language_code 'es'%}Introducción{%endifequal%}</a>
	
	
  <a id="assessmenttab" class="{% block assessmenttabactive %}{% endblock %} assessmenttab"
  
  href="/collection_tool/section/1/language/{{language_code}}/">{%ifequal language_code 'en'%}Assessment{%endifequal%}{%ifequal language_code 'es'%}Evaluación{%endifequal%}</a>
  
  
  <a id="risktab" class="risktab {% block risktabactive %}{% endblock %}"
  
  href="/collection_tool/risk/language/{{language_code}}/">{%ifequal language_code 'en'%}Risk{%endifequal%}{%ifequal language_code 'es'%}Riesgo{%endifequal%}</a>
  
  
  <a id="planningtab" class="{% block planningtabactive %}{% endblock %} planningtab mainlasttab"
  
  href="/collection_tool/goals/language/{{language_code}}/">{%ifequal language_code 'en'%}Planning{%endifequal%}{%ifequal language_code 'es'%}Planificación{%endifequal%}</a>


</div>
	







{% block assessmentnav %}
{% endblock %}
	<div id="contentcontainer">
{% block collection_tool_content %}
{% endblock collection_tool_content %}
</body>

</html>
