<div class="answerphotobox">

	<div class="answerphotoboxcontainer">
	
		<div class="answerphotoboxlabel">
		Your Choice
		</div>
	
		<div class="answerthumbnails">
	
			<div class="answerthumbnail answerthumbnailselected">
				<a href="#" class="answerthumbnailimage"><img alt="" src="//dummyimage.com/200x200" /></a>
				<span class="answerthumbnaillabel">Label</span>
			</div>
			
			<div class="answerthumbnail">
				<a href="#" class="answerthumbnailimage"><img alt="" src="//dummyimage.com/200x200" /></a>
				<span class="answerthumbnaillabel">Label</span>
			</div>
			
			<div class="answerthumbnail">
				<a href="#" class="answerthumbnailimage"><img alt="" src="//dummyimage.com/200x200" /></a>
				<span class="answerthumbnaillabel">Label</span>
			</div>
	

	</div>
		<br clear="all" />
	</div>
</div>
