{% extends "admin/base_site.html" %}
{% load i18n %}
{% load smartif %}

{% block extrahead %}
	 <script type="text/javascript" src="{{STATIC_URL}}js/smilekit_common.js"></script>
{% endblock %}
{% block stylesheet %}/media/admin/css/login.css{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<p id = "login_warning">
<p>
 
<script language ="javascript" >  
 {%if user.is_authenticated%}
      if (local_storage_has_data (LOCAL_STORAGE_KEY)) {
          family_string = 'famil{{ user.current_visit.families.all|length|pluralize:"y,ies" }} {%for f in user.current_visit.families.all%}{% if     forloop.last and not forloop.first %} and {%endif%}{% if not forloop.last and not forloop.first %}, {%endif%}{{f.study_id_number}}{%endfor%}'
          var explanation = 'WARNING: User {{user}} is still logged in, and has interview information stored locally about  ' + family_string + '  on this machine. Please go to the <a href = "/family_info/dashboard/">dashboard</a> and end that visit before logging in here. Otherwise, the information on this machine MAY BE LOST.'
           document.getElementById('login_warning').innerHTML = explanation;
   }
 {%endif  %}
 
</script>
		 

<div id="content-main">
<!-- note: test should be whether app path CONTAINS 'admin' : -->

{%ifequal '/admin/' app_path%}
    <form method="get" action="{{ CAS_BASE }}cas/login">
    <input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next=/admin/&this_is_the_login_form=1" />
    <p>If you have a Columbia UNI, you already have an account and can
    login through CAS with it</p>
    <input type="submit" value="Here" />
    </form>
    <p>otherwise: </p>
{%else %}
{%endifequal%}
<form action="{{ app_path }}" method="post" id="login-form">
  <div class="form-row">
    <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="post_data" value="{{ post_data }}" /> {#<span class="help">{% trans 'Have you <a href="/password_reset/">forgotten your password</a>?' %}</span>#}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}


