body
{
	padding: 20px;
	font-family: helvetica, sans-serif;
	background-color: black;
}




/*always hidden: */

#question_id_div {
 display:none;
}


/********/

#masthead
{
	margin-bottom: 10px;
	height: 60px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
}

#masthead h1
{
	padding: 0px;
	margin: 0px;
	width: 313px;
	height: 107px;
	position: absolute;
	top: -22px;
	left: -20px;
	background-image: url(/collection_tool/media/images/logo_mysmilebuddy.png);
}

#masthead h1 a
{
	text-decoration: none;
	width: 313px;
	height: 107px;
	display: block;
	text-indent: -2000px;
}

#mastheadnav
{
	position: absolute;
	height: 60px;
	right: 0;
	top: 0;
	font-size: 12px;
}

#mastheadnav a
{
	display: block;
	float: right;
	border-left: 1px solid #bbb;
	text-align: center;
	padding: 21px 15px 21px 15px;
	text-decoration: none;
	color: #3172bb;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

/********/





/********/

#mainnav
{
	background-color: #999;
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
}

#mainnav a
{
	display: block;
	float: left;
	text-align: center;
	padding: 21px 0px 21px 0px;
	width: 25%;
	text-decoration: none;
	color: #000;
	text-shadow: #ccc 1px 1px 1px;
}

#mainnav a#introductiontab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc69f), to(#ff6701));
	background: -moz-linear-gradient(top, #ffc69f, #ff6701);
}

#mainnav a.introductiontabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ff6701)) !important;
	background: -moz-linear-gradient(top, #000, #ff6701) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a#assessmenttab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#99c5e2), to(#1076bc));
	background: -moz-linear-gradient(top, #99c5e2, #1076bc);
}

#mainnav a.assessmenttabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1076bc)) !important;
	background: -moz-linear-gradient(top, #000, #1076bc) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a#risktab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
}

#mainnav a.risktabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ff0101)) !important;
	background: -moz-linear-gradient(top, #000, #ff0101) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a.planningtabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1eaf65)) !important;
	background: -moz-linear-gradient(top, #000, #1eaf65) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
	-moz-border-radius-bottomright: 10px !important;
	-webkit-border-bottom-right-radius: 10px !important;
}

.mainfirsttab
{
	border-left: 0px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.mainlasttab
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/********/





/********/

#assessmentnav
{
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#1076bc), to(#91bad6));
	background: -moz-linear-gradient(top, #1076bc, #91bad6);
	margin-bottom: 10px;
}

#assessmentnav a
{
	display: block;
	float: left;
	/*border-left: 1px solid #000;*/
	text-align: center;
	padding: 21px 0px 21px 0px;
	width: 20%;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 1px 1px 1px;
}

#assessmentnav a.activetab
{
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

/********/





/********/
#planningnav
{
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#1eaf65), to(#eeeeee));
	background: -moz-linear-gradient(top, #1eaf65, #eeeeee);
	margin-bottom: 10px;
}

#planningnav a
{
	display: block;
	float: left;
	/*border-left: 1px solid #000;*/
	text-align: center;
	padding: 21px 0px 21px 0px;
	width: 25%;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 1px 1px 1px;
}

#planningnav a.activetab
{
	background-color: #fff;
	color: #000;
	font-weight: bold;
}






.firsttab
{
	border-left: 0px !important;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.lasttab
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/********/





/********/

#contentcontainer
{
	background-color: #fff;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#contentnav
{
	text-align: center;
	height: 70px;
	position: relative;
}

#contentnav a#left,#contentnav a#right, #contentnav a#help
{
	position: absolute;
	padding: 20px;
	width: 100px;
	display: block;
	text-decoration: none;
	color: #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
}

#contentnav a#help
{
	left: 50%;
	margin-left: -69px;
}

#contentnav a#left
{
	left: 0px;
	top: 0px;
}

#contentnav a#right
{
	right: 0px;
	top: 0px;
}

h2#contenttitle, #contentsubtitle { text-align: center; }

#content p { font-size: 18px; }

/********/





/********/

#planner
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee));
	background: -moz-linear-gradient(top, #ccc, #eee);
	overflow: auto;
}

#plannerright 

{ 
	float: right; 
	background-color: #9db; 
}

#plannerleft 
{ 

}

/********/





/********/

div#timetable { width: 100%; }

div#timetable .timetext {padding: 10px; display: block; text-align: center;}

div#timetable .timerow 
{ 
	position: relative; 
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top, #333, #666);
	height: 40px;
}

div#timetable .timerowfilled 
{ 
	position: relative; 
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background: -moz-linear-gradient(top, #fff, #ccc);
	height: 40px;
}

div#timetable .time
{
	width: 100px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#9ff), to(#9bd));
	background: -moz-linear-gradient(top, #9ff, #9bd);
	color: #333;
}

div#timetable .timerowfilled .timeactivity
{
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 100px;
}

div#timetable .timerow  .timeactivity
{
	display: none;
}

div#timetable .timerowfilled .timebutton
{
	text-align: center;
	font-weight: bold;
	display: block;
	font-size: 10px;
	height: 40px;
	color: #000;
	text-shadow: #fff 1px 1px 1px;
	text-decoration: none;
	border-left: 1px solid #333;
	width: 50px;
	padding-top: 4px;
	text-indent: -3000px;

	cursor: pointer;
   position: absolute;
   top: 0px;
	background-repeat: no-repeat;
	background-position: 15px 10px;
}
div#timetable .timerow .timebutton
{
	display: none;
}

div#timetable .timerowfilled .timeactionup
{
	right: 0px;
	background-image: url(/collection_tool/media/images/icon_planner_up.png);
}

div#timetable .timerowfilled .timeactiondown
{
	right: 50px;
	background-image: url(/collection_tool/media/images/icon_planner_down.png);
}

div#timetable .timerowfilled .timeactionedit
{
	right: 100px;
	background-image: url(/collection_tool/media/images/icon_planner_edit.png);
}

div#timetable .timerowfilled .timeactiondelete
{
	right: 150px;
	background-image: url(/collection_tool/media/images/icon_planner_delete.png);
}

/********/





/********/

.photobox, .answerphotobox
{
	margin: 0px auto;
	text-align: left;
}

.answerphotobox
{
	width: 682px;
}

.photoboxcontainer, .answerphotoboxcontainer
{
	background-color: #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
	background: -moz-linear-gradient(top, #000, #666);
	margin:10px;
	padding: 10px;
}

.photoboxlabel, .answerphotoboxlabel
{
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.thumbnails, .answerthumbnails {}

.thumbnail, .answerthumbnail
{
	display: block;
	float: left;
	background-color: #000;
	margin-left: 8px;
	margin-bottom: 8px;
	border: 3px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.thumbnail img, .answerthumbnail img
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.thumbnail
{
	width: 100px;
}

.answerthumbnail
{
	width: 200px;
}

.thumbnailselected,.answerthumbnailselected { border: 3px solid #3c3; }

a.thumbnailimage,a.answerthumbnailimage { text-decoration: none; }

span.thumbnaillabel, span.answerthumbnaillabel
{
	display: block;
	color: #fff;
	background-color: #000;
	text-align: center;
	border: 1px solid #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

span.thumbnaillabel
{
	width: 100px;
}

span.answerthumbnaillabel
{
	width: 200px;
}

/********/





/********/

.photowrapper,.videowrapper
{
	/*width: 670px;*/
	margin: 0px auto;
	text-align: center;
}

/********/





/********/

.formbuttons, .contentbuttons, .riskbuttons
{
	min-height: 70px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

.formbuttons
{
	width: 100%;
}

.contentbuttons, .riskbuttons
{
	width: 540px;
}

input.formbutton, a.contentbutton, a.riskbutton
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: helvetica, sans-serif;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
}

a.contentbutton, a.riskbutton
{
	font-family: helvetica, sans-serif;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

input.formbutton
{
	height: 60px;
	border: 0px;
	margin-top: 10px;
	width: 49%;
}

.red
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
	color: #fff !important;
	text-shadow: #000 1px 1px 1px !important;
	position: absolute;
	left: 0px;
	top: 0px;
}

.green
{
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
	position: absolute;
	left: 51%;
	top: 0px;
}

a.contentbutton, a.riskbutton
{
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

a.riskbutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(red));
	background: -moz-linear-gradient(top, white, red);
}

.riskbuttonselected
{
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(blue)) !important;
	background: -moz-linear-gradient(top, white, #blue) !important;
}

a.contentbutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
}

.contentbuttoncomplete
{
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)) !important;
	background: -moz-linear-gradient(top, #666, #999) !important;
	text-shadow: 0px 0px 0px !important;
	color: #666 !important;
}


/* Adding this to denote ' this answer was chosen'. For now, just duplicating the style from contentbuttoncomplete, but we may want it to look different. */
.contentbuttonchosen
{
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)) !important;
	background: -moz-linear-gradient(top, #666, #999) !important;
	text-shadow: 0px 0px 0px !important;
	color: #666 !important;
}


.contentbuttoncomplete:after
{
	content: url(http://files.wts.edu/images/icons/checkbox.png);
	margin-left: 10px;
}

/********/





/********/

.help_box
{
	display: none;
	position: absolute;
	background-color: #FFC;
	z-index: 1002;
	overflow: auto;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	top: -200px;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	padding: 15px;
	text-align: left;
	/*
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	*/
	background-image: url(/collection_tool/media/images/tooth_help.png);
	background-repeat: no-repeat;
	background-position: 300px -70px;
}

.help_content
{
	padding: 0px 20px 20px 20px;
	position: relative;
}

.help_content h4
{
	font-size: 24px;
	color: #red;
}

.help_content h5 { border-bottom: 1px solid red; }

.help_content h5,.help_content ul,.help_content p { font-size: 14px; }

#help_close
{
	position: absolute;
	top: -30px;
	right: 0px;
	display: block;
	padding: 10px;
	border: 1px solid #000;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

/********/







/********/

.riskscore
{
	width: 300px;
	margin: 10px auto;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 200px;
	font-weight: bold;
	color: #fff;
}

.low
{
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
}

.medium
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fc0), to(#f90));
	background: -moz-linear-gradient(top, #fc0, #f90);
}

.high
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
}

/********/


/********/

/*interview management*/

fieldset, legend {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #4c4c4c;
	color: #333;

}

fieldset {
	margin: 20px 0px 0px 0px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff);
	padding: 20px;
}

legend {
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

td, legend, input {font-size: 16px;}
/********/




/* start - orientation-specific styles */

@media all and (orientation:portrait)
{
	#planner {height: 850px;}
	#plannerright { width: 272px !important; }
	#plannerleft { margin-right: 272px !important; }
	div#timetable .timerowfilled .timeactivity .timetext
	{ 	
		text-overflow: ellipsis !important;
		overflow: hidden;
		white-space: nowrap;
		width: 80px;	}
	.photobox
	{
		max-width: 620px;
	}
}

@media all and (orientation:landscape)
{
	#planner {height: 600px;}
	#plannerright { width: 390px !important; }
	#plannerleft { margin-right: 390px !important; }
	.photobox
	{
		max-width: 840px;
	}
}

/* stop - orientation-specific styles */
