/********/

#debugstuff {display: none;}

/********/
input[type="text"], input[type="password"] {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

body
{
	padding: 20px;
	font-family: helvetica, sans-serif;
	background-color: black;
}

div#list_of_questions {
  display: none;
}


/*always hidden: */

#scoring_info, #maxmin_scoring_info, #family_configs, div#state{
 display:none;
}

#question_id_div {
 display:none;
}

#display_question_id_div {
 display:none;
}

#language_code_div {
 display:none;
}
/********/

#masthead
{
	margin-bottom: 10px;
	height: 60px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
}

#masthead h1
{
	padding: 0px;
	margin: 0px;
	width: 313px;
	height: 107px;
	position: absolute;
	top: -22px;
	left: -20px;
	background-image: url(/collection_tool/media/images/logo_mysmilebuddy.png);
	text-indent: -2000px;
}

#masthead h1 a
{
	text-decoration: none;
	width: 313px;
	height: 107px;
	display: block;
	text-indent: -2000px;
}

#mastheadnav
{
	position: absolute;
	height: 60px;
	right: 0;
	top: 0;
	font-size: 12px;
}

#mastheadnav a
{
	display: block;
	float: right;
	border-left: 1px solid #bbb;
	text-align: center;
	padding: 22px 9px 22px 9px;
	text-decoration: none;
	color: #3172bb;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

/********/





/********/

#mainnav
{
	background-color: #999;
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
}

#mainnav a
{
	display: block;
	float: left;
	text-align: center;
	padding: 21px 0px 21px 0px;
	width: 25%;
	text-decoration: none;
	color: #000;
	text-shadow: #ccc 1px 1px 1px;
}

#mainnav a#introductiontab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc69f), to(#ff6701));
	background: -moz-linear-gradient(top, #ffc69f, #ff6701);
}

#mainnav a.introductiontabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ff6701)) !important;
	background: -moz-linear-gradient(top, #000, #ff6701) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a#assessmenttab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#99c5e2), to(#1076bc));
	background: -moz-linear-gradient(top, #99c5e2, #1076bc);
}

#mainnav a.assessmenttabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1076bc)) !important;
	background: -moz-linear-gradient(top, #000, #1076bc) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a#risktab
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
}

#mainnav a.risktabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#ff0101)) !important;
	background: -moz-linear-gradient(top, #000, #ff0101) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
}

#mainnav a.planningtabactive
{
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1eaf65)) !important;
	background: -moz-linear-gradient(top, #000, #1eaf65) !important;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
	-moz-border-radius-bottomright: 10px !important;
	-webkit-border-bottom-right-radius: 10px !important;
}

.mainfirsttab
{
	border-left: 0px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.mainlasttab
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/********/

/* Dashboard */
.go_to_family_button {
  display: none;
}

#debug_cache_status {
  display: none;
}


/********/

#assessmentnav
{
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#1076bc), to(#91bad6));
	background: -moz-linear-gradient(top, #1076bc, #91bad6);
	margin-bottom: 10px;
}

#assessmentnav a
{
	display: block;
	float: left;
	/*border-left: 1px solid #000;*/
	text-align: center;
	padding: 22px 0px 22px 0px;
	width: 20%;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 1px 1px 1px;
	font-size: 80%;
}

#assessmentnav a.activetab
{
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

/********/





/********/
#planningnav
{
	height: 60px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#1eaf65), to(#eeeeee));
	background: -moz-linear-gradient(top, #1eaf65, #eeeeee);
	margin-bottom: 10px;
}

#planningnav a
{
	display: block;
	float: left;
	/*border-left: 1px solid #000;*/
	text-align: center;
	padding: 22px 0px 22px 0px;
	width: 25%;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 1px 1px 1px;
	font-size: 80%;
}

#planningnav a.activetab
{
	background-color: #fff;
	color: #000;
	font-weight: bold;
}



.firsttab
{
	border-left: 0px !important;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.lasttab
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

/********/





/********/

#contentcontainer
{
	background-color: #fff;
	padding: 20px 20px 40px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#contentnav
{
	text-align: center;
	height: 70px;
	position: relative;
}

#contentnav a#left,#contentnav a#right, #contentnav a#help
{
	position: absolute;
	padding: 20px;
	width: 100px;
	display: block;
	text-decoration: none;
	color: #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
}

#contentnav a#help
{
	left: 50%;
	margin-left: -69px;
}

#contentnav a#left
{
	left: 0px;
	top: 0px;
}

#contentnav a#right
{
	right: 0px;
	top: 0px;
}

h2#contenttitle, #contentsubtitle { text-align: center; }

#content p { font-size: 18px; }

/********/





/********/



a.thumbnailimage, a.answerthumbnailimage { text-decoration: none; }

.thumbnail
{
	display: block;
	float: left;
	background-color: #000;
	margin-left: 8px;
	margin-bottom: 8px;
	border: 3px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.thumbnaildisabled img 
{
	opacity:.40;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
}


.answerthumbnail img
{
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
}




.answerphotobox
{
	width: 682px;
}



.answerthumbnail a img {border: 1px solid black;}

.answerthumbnail
{
	width: 200px;
	display: block;
	float: left;
	background-color: #000;
	margin-left: 8px;
	margin-bottom: 8px;
	border: 3px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 200px;
}
.chosen_thumbnail_div {background-color: yellow !important;}


.answerthumbnaillabel
{
	display: block;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.chosen_thumbnail_div .answerthumbnaillabel {color: black !important;}


/*
.answerphotoboxlabel
{
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	text-align: center;
}
*/


/********/





/********/

.photowrapper,.videowrapper
{
	/*width: 670px;*/
	margin: 0px auto;
	text-align: center;
}

/********/





/********/

.formbuttons, .contentbuttons, .riskbuttons
{
	min-height: 70px;
	margin: 0px auto;
	text-align: left;
	position: relative;
}

.formbuttons
{
	width: 100%;
}

.contentbuttons, .riskbuttons
{
	width: 540px;
}

input.formbutton, a.contentbutton, a.riskbutton
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: helvetica, sans-serif;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
}

a.contentbutton, a.riskbutton
{
	font-family: helvetica, sans-serif;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

input.formbutton
{
	height: 60px;
	border: 0px;
	margin-top: 10px;
	width: 49%;
}

/*
.red
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
	color: #fff !important;
	text-shadow: #000 1px 1px 1px !important;
	position: absolute;
	left: 0px;
	top: 0px;
}

.green
{
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
	position: absolute;
	left: 51%;
	top: 0px;
}
*/

a.contentbutton, a.riskbutton
{
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

a.riskbutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(red));
	background: -moz-linear-gradient(top, white, red);
}

.riskbuttonselected
{
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(blue)) !important;
	background: -moz-linear-gradient(top, white, #blue) !important;
}

a.contentbutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	padding: 15px 30px 15px 30px;
	display: block;
	position: relative;
}

.nobutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101)) !important;
	background: -moz-linear-gradient(top, #ff7575, #ff0101) !important;
	color: #fff !important;
	text-shadow: #000 1px 1px 1px !important;
}

.yesbutton
{
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65)) !important;
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65) !important;
	color: #fff !important;
	text-shadow: #000 1px 1px 1px !important;
}



.contentbuttoncomplete
{
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)) !important;
	background: -moz-linear-gradient(top, #666, #999) !important;
	text-shadow: 0px 0px 0px !important;
	color: #666 !important;
}


/* Adding this to denote ' this answer was chosen'. For now, just duplicating the style from contentbuttoncomplete, but we may want it to look different. */
.contentbuttonchosen
{
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)) !important;
	background: -moz-linear-gradient(top, #666, #999) !important;
	text-shadow: 0px 0px 0px !important;
	color: #666 !important;
}


.contentbuttoncomplete:before
{
	content: url(/collection_tool/media/images/checkbox.png);
	margin-left: 10px;
	position: absolute;
	left: 0px;
}



/********/





/********/

.help_box
{
	display: none;
	position: absolute;
	background-color: #FFC;
	z-index: 1002;
	overflow: auto;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	top: -200px;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	padding: 15px;
	text-align: left;
	/*
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	*/
	background-image: url(/collection_tool/media/images/tooth_help.png);
	background-repeat: no-repeat;
	background-position: 300px -70px;
}

.help_content
{
	padding: 0px 20px 20px 20px;
	position: relative;
}

.help_content h4
{
	font-size: 24px;
	color: #red;
}

.help_content h5 { border-bottom: 1px solid red; }

.help_content h5,.help_content ul,.help_content p { font-size: 14px; }

#help_close
{
	position: absolute;
	top: -30px;
	right: 0px;
	display: block;
	padding: 10px;
	border: 1px solid #000;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

/********/



/********/

.learnmore 
{
}


.learn_more_close_button
{
	position: absolute !important;
	top: 10px !important;
	right: 10px !important;
	display: block !important;
	padding: 10px !important;
	border: 1px solid #000 !important;
	font-weight: bold !important;
	text-decoration: none !important;
	color: #000;
}

.learn_more_help_content {

	display: none;
	position: absolute;
	background-color: #fff;
	z-index: 1002;
	overflow: auto;
	-moz-box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	top: 50px;
	left: 50%;
	width: 600px;
	margin-left: -325px;
	padding: 15px;
	text-align: left;
	background-image: none;
}


.learnmore a
{
	text-align: center;
	text-decoration: none; 
	display: block; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 5px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
	color: #fff;
	font-weight: bold;
	width: 300px;
	font-size: 11px;
	text-shadow: #000 1px 1px 1px;
	margin:20px auto;
}


/********/




/********/

h2#your_score_is {text-align: center;}

.score_div
{
  display: none;
	width: 300px;
	margin: 10px auto;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: 200px;
	font-weight: bold;
	color: #fff;
}
.score_1,.score_2, .score_3
{
	background: -webkit-gradient(linear, left top, left bottom, from(#9bdbbb), to(#1eaf65));
	background: -moz-linear-gradient(top, #9bdbbb, #1eaf65);
}

.score_4,.score_5, .score_6
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fc0), to(#f90));
	background: -moz-linear-gradient(top, #fc0, #f90);
}

.score_7,.score_8, .score_9, .score_10
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ff7575), to(#ff0101));
	background: -moz-linear-gradient(top, #ff7575, #ff0101);
}


.risk_div {font-weight: bold; text-align: center; font-size: 48px;}

#low_risk {color: green;}

#medium_risk {color: orange;}

#hig_risk {color: red;}


#risk_next a
{
	border: 1px solid #ccc; 
	text-decoration: none; 
	display: block; 
	text-align: center; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 10px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	color: #333;
	font-weight: bold;
	width: 300px;
	font-size: 14px;
}

.firebutton
{
  cursor: pointer;
	display: block; 
	text-align: center; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 16px;
	font-weight: bold;
	width: 300px;
	font-size: 14px;
	background-repeat: no-repeat;
	margin-top: 10px;
	position: relative;
}


/* no score */
.firebutton.topic_no_score {
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#ffffff)) !important;
	background: -moz-linear-gradient(top, #ffffff, #666666) !important;
}

/*ok*/
.firebutton.topic_score_1, .firebutton.topic_score_2 , .firebutton.topic_score_3  {
	background: -webkit-gradient(linear, left top, left bottom, from(#33ffff), to(#3399ff)) !important;
	background: -moz-linear-gradient(top, #33ffff, #3399ff) !important;
}

/*so-so*/
.firebutton.topic_score_4, .firebutton.topic_score_5,  .firebutton.topic_score_6  {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ff9900)) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff9900) !important;
}

/*scary*/
.firebutton.topic_score_7, .firebutton.topic_score_8, .firebutton.topic_score_9, .firebutton.topic_score_10 {
	background: -webkit-gradient(linear, left top, left bottom, from(#33ffff), to(#3399ff)) !important;
	background: -moz-linear-gradient(top, #ff7575, #ff0101) !important;
}
.firebutton.hello_world {
  background: -webkit-gradient(linear, left top, left bottom, from(#33ffff), to(#3399ff)) !important;
}

/*fire and water icons : */

/*ok*/
.topic_score_1 .firebuttonicon,  .topic_score_2 .firebuttonicon, .topic_score_3 .firebuttonicon, .topic_score_4 .firebuttonicon, .topic_score_5 .firebuttonicon
{
	background-image: url(/collection_tool/media/images/water_icon.png);
	width: 26px !important;
	height: 36px !important;
	position: absolute !important;
	left: 5px !important;
	top: 5px !important;
}

/*scary*/
.topic_score_6 .firebuttonicon, .topic_score_7 .firebuttonicon, .topic_score_8 .firebuttonicon, .topic_score_9 .firebuttonicon, .topic_score_10 .firebuttonicon
{
	background-image: url(/collection_tool/media/images/fire_icon.png);
	width: 26px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.firebutton .indexpageicon
{
	width: 26px;
	height: 36px;
	position: absolute;
	right: 5px;
	top: 12px;
}


.firebutton a
{
	text-decoration: none; 
	color: #333;
}

#topicbox
{
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border: 1px solid #666;
	margin-top: 20px;
	width: 500px;
	text-align: left;
	padding: 10px;

}



li.goal_div
{
	position: relative;
	padding-right: 200px;
	margin-top: 10px;
}

#goal_id_div {
  display: none;
}


.goal_div_plan a
{
	position: absolute;
	border: 1px solid 000;
	width: 80px;
	display: block;
	text-align: center;
	border: 1px solid #ccc; 
	text-decoration: none; 
	display: block; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 3px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	color: #333;
	font-size: 14px;
	right: 0px;
	top: 0px;
}



/*eddie adding */
.topic_div_learn a,  #set_goal_div a
{	
	border: 1px solid 000;
	width: 300px;
	display: block;
	text-align: center;
	border: 1px solid #ccc; 
	text-decoration: none;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 3px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	color: #333;
	font-size: 14px;
	right: 100px;
	top: 0px;
}


.goal_textfield {
  width : 300px;
}


textarea.goal_textfield {
  height: 100px;
}

/********/


/********/

/*interview management*/

fieldset, legend {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #4c4c4c;
	color: #333;

}

fieldset {
	margin: 20px 0px 0px 0px;
	padding: 20px;
}

legend {
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	color: #333;
	text-shadow: #fff 1px 1px 1px;
	font-weight: bold;
}

td, legend, input {font-size: 16px;}
/********/


.arrowclose { display: none }

/* start - "flat page" styles */

.flatpagecontainer h2 { text-align: center; }

.flatpagecontainer h3
{
	clear: both;
	margin-top: 30px;
	color: #3172bb;
}

.flatpagecontainer h4
{
	border-bottom: 1px solid #2aa952;
	clear: both;
	margin-top: 30px;
	color: #000;
}

.flatpagecontainer ol, ul, p { }
.flatpagecontainer li { margin-top: 20px; }

.flatpagecontainer .editpage
{
	border-top: 1px solid #ccc;
	clear: both;
	margin-top: 30px;
	text-align: center;
	padding-top: 20px;
}

.flatpagecontainer .articlephotocontainer
{
	float: right;
	clear: left;
	margin-left: 20px;
}

.flatpagecontainer .articlephotobox 
{
	margin-bottom: 20px; 	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}

.flatpagecontainer .articlephoto img 
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0;
}

.flatpagecontainer .articlephotocaption
{
	width: 250px;
	font-weight: bold;
	font-style: italic;
	font-size: 10px;
	padding-top: 5px;
}

.answerphotoboxcontainer
{
	background-color: #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
	background: -moz-linear-gradient(top, #000, #666);
	margin:10px;
	padding: 10px;
	position: relative;
}

.horizontalphotocontainer
{
	clear: both;
	width: 100%;
}

.horizontalphotobox 
{
	margin: 0px 20px 20px 0px; 	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #ccc;
	padding: 10px;
	float: left;
}

.horizontalphoto img 
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0;
}

.horizontalphotocaption
{
	width: 250px;
	font-weight: bold;
	font-style: italic;
	font-size: 10px;
	padding-top: 5px;
}


/* stop - "flat page" styles */


/* start - "family details" table styles */

table.editdetails, table.interviewdetails {width: 100%;}

table.editdetails th, table.editdetails td, table.users th, table.users td  {padding: 10px;}

table.editdetails td.action, table.users td.action {text-align: center;}

table.editdetails th, table.interviewdetails th {text-align: left; width: 50%;}

table.editdetails td.action {text-align: center;}

.prompt {font-size: 10px; font-weight: bold; color: red; font-style: italic;}

table.users a, table.interviewdetails a
{
	border: 1px solid #ccc; 
	text-decoration: none; 
	display: block; 
	text-align: center; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 5px;
	font-weight: bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f7), to(#c1c4c3));
	background: -moz-linear-gradient(top, #f5f5f7, #c1c4c3);
	color: #333;
	font-weight: bold;
	width: 130px;
	font-size: 11px;
	float: left;
	margin-right: 10px;
}
table.interviewdetails a {width: 20px;}

table.interviewdetails {border-collapse:collapse;}
table.interviewdetails td {vertical-align: top; padding: 3px;}
table.interviewdetails td.toggle {width: 30px;}
table.interviewdetails td.label {width: 150px; font-weight: bold;}
table.interviewdetails td ul, table.interviewdetails td ol {margin: 0;} 


table#materialstable
{
	width: 100%;
	border-collapse: collapse;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

table#materialstable th,table#materialstable td
{
	border: 1px #ccc solid;
	padding: 10px;
	text-align: center;
}


/* stop - "family details" table styles */

/* start - orientation-specific styles */

@media all and (orientation:landscape)
{
	.horizontalphotocontainer
	{
		padding-left: 40px;
		
	}
}

/* stop - orientation-specific styles */
